@model PropertyTaxPortal.Models.News

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NewsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
