@model IEnumerable<PropertyTaxPortal.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid admin-header">
    <div class="row ">
        <h2>News</h2>
        <a class="ml-auto " asp-controller="Admin" asp-action="Index">Back to Dashboard</a>
        <div class="ml-3 plus-link text-center"><a asp-action="Create"><ion class="fas fa-plus"></ion></a></div>
    </div>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)

            <th>
                @Html.DisplayNameFor(model => model.StartOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NewsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
