@model ReflectionIT.Mvc.Paging.PagingList<PropertyTaxPortal.Models.NEWS>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@*@model IEnumerable<PropertyTaxPortal.Models.NEWS>
@{
    ViewData["Title"] = "Index";
}*@

<div style="text-align: center; font-size:35px;font-weight:bold; border:1px; width:1000px">
    News Administration
</div>

<nav aria-label="Suppliers navigation example">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeaturedCode)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Displayed)
            </th>
            <th>
                <a asp-action="CreateorEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Create News</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeaturedCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Displayed)
                  
                </td>
                <td>
                    <a asp-action="DownArrow" asp-route-pagenum="@Model.PageIndex" asp-route-id="@item.NewsID"><img src="~/images/downArrow.gif" /></a>
                    <a asp-action="UpArrow" asp-route-id="@item.NewsID" asp-route-pagenum="@Model.PageIndex"><img src="~/images/upArrow.gif" sizes="30px" /> </a> |
                    <a asp-action="CreateorEdit" asp-route-id="@item.NewsID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Suppliers navigation example">
    <vc:pager paging-list="@Model" />
</nav>
