@model IEnumerable<PropertyTaxPortal.Models.FAQ>

@{
    ViewData["Title"] = "FAQ";
}

<script src="../js/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#dArrow").onclick(function (event) {
            alert('hi');
            alert(("#dArrow").id);
            var id = ("#dArrow").id;
            alert(id);
             $.ajax(
            {
                type: "POST",
                 url: '@Url.Action("DownArrow", "FAQs")',
                data: {id: id},
                success: function (result) {
                    if (result == true) {
                        alert('hi');
                        var baseUrl="/Index";
                        window.location.reload(baseUrl);
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        })
    });
    function UpArrow(id) {
        $.ajax(
        {
            type: "POST",
             url: '@Url.Action("UpArrow", "FAQs")',
            data: {id: id},
            success: function (result) {
                if (result == true) {
                    var baseUrl="/Index";
                    window.location.reload(baseUrl);
                }
                else {
                    alert("There is a problem, Try Later!");
                }
            }
        });
    }

    function DownArrow(id) {
        $.ajax(
        {
                type: "POST",
             url: '@Url.Action("DownArrow", "FAQs")',
            data: { id: id},
                success: function (result) {
                if (result == true) {
                    window.location.reload();
                }
                else {
                    alert("There is a problem, Try Later!");
                }
            }
        });
    }

     function Delete(id){
         var txt;
         var del = confirm('Are you sure you want to delete?');
         if(del == true)
         {
             $.ajax(
                 {
                     type: "POST",
                     url: '@Url.Action("Delete", "FAQs")',
                     data: {
                         id: id
                     },
                     error: function (result) {
                         alert("error");
                     },
                     success: function (result) {
                         if (result == true) {
                             var baseUrl = "/Index";
                             window.location.reload();
                         }
                         else {
                             alert("There is a problem, Try Later!");
                         }
                     }
                 });
         }
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.featuredCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.featuredCode)
                </td>
                <td>
                        
                    <a href=""  onclick="DownArrow('@item.FAQID')">down</a>
                    <a href="" onclick="UpArrow('@item.FAQID')">up</a> | 
                    <a asp-action="Edit" asp-route-id="@item.FAQID">Edit</a> |
                    <a href="" onclick="Delete('@item.FAQID')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
