@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewData["Title"] PropertyTaxPortal</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/lib/Animate/animate.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/index.css" rel="stylesheet" />
        <link href="~/css/overview.css" rel="stylesheet" />
        <link href="~/css/news.css" rel="stylesheet" />
        <link href="~/css/Publicinquiry.css" rel="stylesheet" />
        <link href="~/css/FAQTAB.css" rel="stylesheet" />
        <link href="~/css/Contact.css" rel="stylesheet" />

        <link href="~/css/about_siteInfo.css" rel="stylesheet" />
        <link href="~/css/GovernmentSites.css" rel="stylesheet" />
        <link href="~/css/admin.css" rel="stylesheet" />
        <link href="~/css/queires.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,500,600" rel="stylesheet">

        <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/Animate/animate.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/index.css" rel="stylesheet" />
        <link href="~/css/overview.css" rel="stylesheet" />
        <link href="~/css/Publicinquiry.css" rel="stylesheet" />
        <link href="~/css/news.css" rel="stylesheet" />
        <link href="~/css/FAQTAB.css" rel="stylesheet" />
        <link href="~/css/Contact.css" rel="stylesheet" />
        <link href="~/css/about_siteInfo.css" rel="stylesheet" />
        <link href="~/css/GovernmentSites.css" rel="stylesheet" />
        <link href="~/css/admin.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        <link href="~/css/queires.css" rel="stylesheet" />
        <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
        <link href="~/lib/FontAwesome/Fontawsome.css" rel="stylesheet" />
    </environment>
    <script>
        (function () {
            var cx = '000057047845950062950:gu89ph6mryo';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);


        })();
    </script>
    <script>
        (function (w, d, s, g, js, fjs) {
            g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (cb) { this.q.push(cb) } };
            js = d.createElement(s); fjs = d.getElementsByTagName(s)[0];
            js.src = 'https://apis.google.com/js/platform.js';
            fjs.parentNode.insertBefore(js, fjs); js.onload = function () { g.load('analytics') };
        }(window, document, 'script'));
    </script>

    <script src="~/js/ios-orientationchange-fix.min.js"></script>

</head>
<body class="">
    <div class="index-wrap">
        <div class="fixed-top">
            <header class="container-fluid">
                <div class="row justify-content-between">
                    <div class="pl-2"><a href="http://www.lacounty.gov" target="_blank">lacounty.gov</a></div>
                    <div class="pr-2">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                </div>
            </header>
            <!------------------------------ NAVBAR ------------------------------>
            <nav class="navbar navbar-expand-lg bg-5 ">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/images/LACseal76.png" alt="Los Angeles County Property Tax Portal"></a>


                <div class="nav-icon-bar">
                    <a asp-controller="Home" asp-action="Index">
                        <p>Los Angeles County</p>
                    </a>
                    <a asp-controller="Home" asp-action="Index"><h5 role="heading" aria-level="1">Property Tax Portal</h5></a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">


                    @*<form id="demo-2">
                            <input type="search" placeholder="Search" id="gsc-i-id1">
                        </form>*@




                    <ul class="navbar-nav  ml-auto">

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Overview"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6 " style="min-width:290px" aria-labelledby="navbarDropdown1">
                                <ul>
                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="Overview">@Localizer["Property Tax Overview"]</a>  </li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="Overview">@Localizer["How the Property Tax System Works"]</a> </li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="Overview">@Localizer["Areas of Responsibliity"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Tax Tools"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6" aria-labelledby="navbarDropdown2">
                                <ul>
                                    <li><a href="https://ttc.lacounty.gov/property-tax-management-system/" target="_blank">@Localizer["Property Tax Management System"]</a></li>
                                    <li>
                                        <a href="https://ttc.lacounty.gov/secured-property-tax-information-request-multiple-parcels/" target="_blank">
                                            @Localizer["Multiple Parcel Inquires"]
                                        </a>
                                    </li>
                                    <li><a href="https://ttc.lacounty.gov/avoid-penalties-by-understanding-postmarks/" target="_blank">@Localizer["Avoid Penalties by Understanding Postmarks"]</a></li>
                                    <li><a href="https://ttc.lacounty.gov/penalty-cancellation-request-2/" target="_blank">@Localizer["Penalty Cancellations"]</a></li>
                                    <li><a href="https://portal.assessor.lacounty.gov/ target=" _blank"">@Localizer["Property Address Search"]</a></li>
                                    <li><a href="https://assessor.lacounty.gov/message-to-homeowners/" target="_blank">@Localizer["New Home Owners"]</a></li>
                                    <li><a href="https://assessor.lacounty.gov/personal-property-assessments-2/" target="_blank">@Localizer["New Business Owners"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown-left">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Quick Links"]
                            </a>
                            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown3">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Forms"]</p>
                                        <ul>
                                            <li><a href="https://assessor.lacounty.gov/forms-2/" target="_blank">@Localizer["Assessor"]</a></li>
                                            <li><a href="http://bos.lacounty.gov/Forms#269933-assessment-appeals-board" target="_blank">@Localizer["Assessment Appeals Board"]</a></li>
                                            <li><a href="http://auditor.lacounty.gov/forms-important-dates-glossary/" target="_blank">@Localizer["Auditor-Controller"]</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Property Valuation"]</p>
                                        <ul>
                                            <li><a asp-controller='Home' asp-action="ContestingValue">@Localizer["Contesting Your Property Value"]</a></li>
                                            <li><a href="https://portal.assessor.lacounty.gov/" target="_blank">@Localizer["Property Address Search"]</a></li>
                                            <li><a href="http://maps.assessor.lacounty.gov/GVH_2_2/Index.html?configBase=http://maps.assessor.lacounty.gov/Geocortex/Essentials/REST/sites/PAIS/viewers/PAIS_hv/virtualdirectory/Resources/Config/Default" target="_blank">@Localizer["Property Data & Maps"]</a></li>
                                            <li><a href="https://assessor.lacounty.gov/supplemental-tax-estimator/" target="_blank">@Localizer["Supplemental Tax Estimator"]</a></li>
                                        </ul>
                                    </div>

                                    <!-- added navigation badges: 'pay now', and 'link' but elements not staying inline-->
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Payment Information"]</p>
                                        <ul>
                                            <li><a href="">@Localizer["How Much Do I Owe?"]</a><span class="badge badge-secondary">LINK</span></li>
                                            <li><a href="">@Localizer["Pay Online"]</a><span class="badge badge-success">PAY NOW</span></li>
                                            <li><a href="">@Localizer["Other Payment Options"]</a><span class="badge badge-secondary">LINK</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Tax Bills"]</p>
                                        <ul>

                                            <li><a asp-controller="Home" asp-action="AnnualSecuredProperty">@Localizer["Annual Secured Property Tax Bill"]</a>  </li>
                                            <li><a href="~/images/pdf/AnnualSecPropInsert.pdf" target="_blank">@Localizer["Annual Secured Property Tax Bill Insert"]</a></li>
                                            <li><a asp-controller="Home" asp-action="AnnualSecuredPropertyTaxInformationStatement">@Localizer["Annual Secured Property Tax Information Statement"]</a>  </li>
                                            <li><a asp-controller="Home" asp-action="NoticeofDelinquency">@Localizer["Notice of Delinquency"]</a></li>
                                            <li><a asp-controller="Home" asp-action="SubstitueSecuredProperty">@Localizer["Substitute Secured Property Tax Bill"]</a></li>
                                            <li><a asp-controller="Home" asp-action="SupplementalSecuredProperty">@Localizer["Supplemental Secured Property Tax Bill"]</a></li>
                                            <li><a asp-controller="Home" asp-action="UnsecuredPropertyTax">@Localizer["Unsecured Property Tax Bill"]</a></li>
                                            <li><a asp-controller="Home" asp-action="UnsecuredPriorYear">@Localizer["Unsecured Prior Year Bill"]</a></li>
                                            <li><a asp-controller="Home" asp-action="PaymentActivityNotice">@Localizer["Payment Activity Notice"]</a></li>
                                            <li><a asp-controller="Home" asp-action="StatementOfPriorYear">@Localizer["Statement of Prior Year Taxes"]</a></li>
                                            <li><a asp-controller="Home" asp-action="AdjAnnual">@Localizer["Adjusted Annual Property Tax Bill"]</a></li>
                                            <li><a asp-controller="Home" asp-action="AdjSupplemental">@Localizer["Adjusted Supplemental Property Tax Bill"]</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["FAQ"]
                            </a>
                            <div class="dropdown-menu secondary-width small-drop bg-6" id="faq-drop" aria-labelledby="navbarDropdown4">
                                <ul>

                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="GeneralFAQ">@Localizer["Tax Bills"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="GeneralFAQ">@Localizer["Refunds/Tax Sales/Tax Liens"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="GeneralFAQ">@Localizer["Property Values"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="3" asp-action="GeneralFAQ">@Localizer["Ownership"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="4" asp-action="GeneralFAQ">@Localizer["Tax Agent Registration"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="5" asp-action="GeneralFAQ">@Localizer["All FAQs"]</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" asp-controller="Home" asp-action="News">@Localizer["News"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Contact Us"]
                            </a>
                            <!-- added navigation badge: 'FORM' -->
                            <div class="dropdown-menu secondary-width small-drop bg-6" id="contact-drop" aria-labelledby="navbarDropdown5">
                                <ul>
                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="ContactUs">@Localizer["Assessor"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="ContactUs">@Localizer["Auditor-Controller"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="ContactUs">@Localizer["Treasurer & Tax Collector"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="3" asp-action="ContactUs">@Localizer["Assessment Appeals Board"]</a></li>

                                    <li><a asp-controller="Home" asp-action="PublicInquiry">@Localizer["Public Inquiry"]</a><span class="badge badge-primary">FORM</span></li>


                                </ul>
                            </div>
                        </li>
                        <li class="search">
                            <ion-icon name="search"></ion-icon>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <section class="container-fluid search-feature">
            <gcse:search></gcse:search>
            <div class="close">
                <ion-icon name="close"></ion-icon>
            </div>
        </section>
        <!----------------------------- /END NAVBAR -------------------------->

        <div class="">
            <!------------------------------ BODY ---------------------------->



            <main role="main" class="">
                @RenderBody()
            </main>

            <!----------------------------- /END BODY ------------------------->

            <partial name="_CookieConsentPartial" />
        </div>


        <!---------------------------------------------------------------------->
        <!---------------------------------FOOTER------------------------------->
        <!---------------------------------------------------------------------->

        <footer class="">
            <section class="container-fluid section-footer ">
                <div class="row">
                    <div class="col-md-3 col-sm-6 ">
                        <a href="http://www.lacounty.gov/" target="_blank"><img src="~/images/LACSEAL152.png" alt="LACseal"></a>
                        <p>@Localizer["Enriching Lives"]...</p>
                    </div>
                    <div class="col-md-3 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Do You Need Help?"]</li>
                            <li><a href="https://www.211la.org/" target="_blank"> @Localizer["211 LA County"]</a></li>
                            <li><a href="http://www.lacountyhelps.org/" target="_blank">@Localizer["LA County Helps"]</a></li>
                            <li><a href="https://www.lacounty.gov/government/county-services/online-services/" target="_blank">@Localizer["Online Services"]</a></li>
                            <li><a href="http://www.lacounty.gov/publicalerts/" target="_blank"> @Localizer["Public Alerts"]</a></li>
                            <li><a href="https://www.lacounty.gov/government/public-information-records/" target="_blank">@Localizer["Public Information"]</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Site Info"]</li>
                            <li><a asp-controller='Home' asp-action="Disclaimer">@Localizer["Disclaimer"]</a></li>
                            <li><a asp-controller='Home' asp-action="PrivacyPolicy">@Localizer["Privacy Policy"]</a></li>
                            <li><a asp-controller='Home' asp-route-id="accessibility" asp-action="accessibility">@Localizer["Accessibility"]</a></li>
                            <li><a asp-controller='Home' asp-action="Language">@Localizer["Language"]</a></li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Public Info"]</li>
                            <li><a href="http://portal.lacounty.gov/wps/portal/omd" target="_blank">@Localizer["Board Correspondence"]</a></li>
                            <li><a href="http://bos.lacounty.gov/Board-Meeting/Board-Agendas" target="_blank">@Localizer["Board Agenda"]</a></li>
                            <li><a href="https://library.municode.com/ca/los_angeles_county/codes/code_of_ordinances" target="_blank">@Localizer["County Code"]</a></li>
                            <li><a href="https://www.lacounty.gov/contact/" target="_blank">@Localizer["LA County Contacts"]</a></li>

                            <li><a asp-controller='Home' asp-action="GovernmentSites">@Localizer["Other Government Sites"]</a></li>

                        </ul>
                    </div>

                </div>
                <div class="row" id="footer-section">
                    <div class="">
                        &copy; @DateTime.Now.Year COUNTY OF LOS ANGELES
                    </div>
                </div>

            </section>

        </footer>
    </div>




    <environment include="Development">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/jquery/dist/min.popper.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>






        <script src="~/js/way.js"></script>
        <script src="~/js/site.js"></script>


    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/min.popper.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        <script src="~/js/jquery.waypoints.min.js"></script>



        <!-- Include the CSS that styles the charts. -->

        <script src="~/js/way.js"></script>

        <script src="~/js/site.js"></script>


    </environment>
    <script src="~/js/jquery.rwdImageMaps.min.js"></script>
    <script>
        $(document).ready(function (e) {
            $('img[usemap]').rwdImageMaps();

           
        });
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60050118-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60050118-10');
    </script>
</body>


</html>
