@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewData["Title"] PropertyTaxPortal</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/lib/Animate/animate.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/index.css" rel="stylesheet" />
        <link href="~/css/overview.css" rel="stylesheet" />
        <link href="~/css/news.css" rel="stylesheet" />
        <link href="~/css/Publicinquiry.css" rel="stylesheet" />
        <link href="~/css/FAQTAB.css" rel="stylesheet" />
        <link href="~/css/contact.css" rel="stylesheet" />
        <link href="~/css/queires.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400,500,600" rel="stylesheet">

        <link href="~/lib/IonIcons/Ionicons.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/Animate/animate.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/index.css" rel="stylesheet" />
        <link href="~/css/overview.css" rel="stylesheet" />
        <link href="~/css/Publicinquiry.css" rel="stylesheet" />
        <link href="~/css/news.css" rel="stylesheet" />
        <link href="~/css/FAQTAB.css" rel="stylesheet" />
        <link href="~/css/contact.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <link href="~/css/queires.css" rel="stylesheet" />
        <link href="~/lib/IonIcons/Ionicons.css" rel="stylesheet" />
        <link href="~/lib/FontAwesome/Fontawsome.css" rel="stylesheet" />
    </environment>

</head>
<body class="">
    <div class="index-wrap">
        <div class="fixed-top">
            <header class="container-fluid">
                <div class="row justify-content-between">
                    <div class="pl-2"><a href="http://www.lacounty.gov" target="_blank">lacounty.gov</a></div>
                    <div class="pr-2">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                </div>
            </header>
            <!------------------------------ NAVBAR ------------------------------>
            <nav class="navbar navbar-expand-lg bg-5 ">
                <a class="navbar-brand" href="#"><img src="~/images/LACseal76.png" alt=""></a>


                <div class="nav-icon-bar">
                    <a asp-controller="Home" asp-action="Index">
                        <p>Los Angeles County</p>
                    </a>
                    <a asp-controller="Home" asp-action="Index"><h5>Property Tax Portal</h5></a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item ml-auto">
                            <a asp-controller="Home" asp-action="Index" class="nav-link">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Overview"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6" aria-labelledby="navbarDropdown1">
                                <ul>
                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="Overview">@Localizer["Property Tax Overview"]</a>  </li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="Overview">@Localizer["How the Property Tax System Works"]</a> </li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="Overview">@Localizer["Areas of Responsibliity"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Tax Tools"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6" aria-labelledby="navbarDropdown2">
                                <ul>
                                    <li><a href="https://vcheck.ttc.lacounty.gov/">@Localizer["Property Tax Managment System"]</a></li>
                                    <li>
                                        <a href="https://ttc.lacounty.gov/secured-property-tax-information-request-multiple-parcels/">
                                            @Localizer["Multiple Parcel Inquires"]
                                        </a>
                                    </li>
                                    <li><a href="https://ttc.lacounty.gov/avoid-penalties-by-understanding-postmarks/">@Localizer["Avoid Penalties by Understanding Postmarks"]</a></li>
                                    <li><a href="https://ttc.lacounty.gov/penalty-cancellation-request-2/">@Localizer["Penalty Cancellations"]</a></li>
                                    <li><a href="https://portal.assessor.lacounty.gov/">@Localizer["Property Address Search"]</a></li>
                                    <li><a href="">@Localizer["New Home Owners"]</a></li>
                                    <li><a href="">@Localizer["New Business Owners"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item dropdown-left">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Quick Links"]
                            </a>
                            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown3">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Forms"]</p>
                                        <ul>
                                            <li><a href="https://assessor.lacounty.gov/">@Localizer["Assessor"]</a></li>
                                            <li><a href="https://lacaab.lacounty.gov/Home.aspx">@Localizer["Assessment Appeals Board"]</a></li>
                                            <li><a href="http://auditor.lacounty.gov/">@Localizer["Auditor-Controller"]</a></li>
                                            <li><a href="https://ttc.lacounty.gov/">@Localizer["Treasurer & Tax Collector"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Property Valuation"]</p>
                                        <ul>
                                            <li><a href="">@Localizer["Contesting Your Property Value"]</a></li>
                                            <li><a href="https://portal.assessor.lacounty.gov/">@Localizer["Property Address Search"]</a></li>
                                            <li><a href="http://maps.assessor.lacounty.gov/GVH_2_2/Index.html?configBase=http://maps.assessor.lacounty.gov/Geocortex/Essentials/REST/sites/PAIS/viewers/PAIS_hv/virtualdirectory/Resources/Config/Default">@Localizer["Property Data & Maps"]</a></li>
                                            <li><a href="https://assessor.lacounty.gov/supplemental-tax-estimator/">@Localizer["Supplemental Tax Estimator"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Payment Options"]</p>
                                        <ul>
                                            <li><a href="">@Localizer["How Much Do I Owe?"]</a></li>
                                            <li><a href="">@Localizer["Pay Online"]</a></li>
                                            <li><a href="">@Localizer["Other Payment Options"]</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <p>@Localizer["Annual Secured Property Tax Bill"]</p>
                                        <ul>
                                            <li><a href="">@Localizer["Annual Secured Property Tax Bill Insert"]</a></li>
                                            <li><a href="">@Localizer["Annual Secured Property Tax Information Statement"]</a></li>
                                            <li><a href="">@Localizer["Notice of Delinquency"]</a></li>
                                            <li><a href="">@Localizer["Substitute Secured Property Tax Bill"]</a></li>
                                            <li><a href="">@Localizer["Supplemental Secured Property Tax Bill"]</a></li>
                                            <li><a href="">@Localizer["Unsecured Property Tax Bill"]</a></li>
                                            <li><a href="">@Localizer["Unsecured Prior Year Bill"]</a></li>
                                            <li><a href="">@Localizer["Payment Activity Notice"]</a></li>
                                            <li><a href="">@Localizer["Statement of Prior Year Taxes"]</a></li>
                                            <li><a href="">@Localizer["Adjusted Annual Property Tax Bill"]</a></li>
                                            <li><a href="">@Localizer["Adjusted Supplemental Property Tax Bill"]</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["FAQ"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6" aria-labelledby="navbarDropdown4">
                                <ul>

                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="GeneralFAQ">@Localizer["Tax Bills"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="GeneralFAQ">@Localizer["Refunds/Tax Sales/Tax Liens"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="GeneralFAQ">@Localizer["Property Values"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="3" asp-action="GeneralFAQ">@Localizer["Ownership"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="4" asp-action="GeneralFAQ">@Localizer["All FAQs"]</a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                           
                            <a class="nav-link"asp-controller="Home" asp-action="News">@Localizer["News"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                @Localizer["Contact Us"]
                            </a>
                            <div class="dropdown-menu small-drop bg-6" aria-labelledby="navbarDropdown5">
                                <ul>
                                    <li><a asp-controller="Home" asp-route-id="0" asp-action="ContactUs">@Localizer["Assessor"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="1" asp-action="ContactUs">@Localizer["Auditor/Controller"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="2" asp-action="ContactUs">@Localizer["Treasurer & Tax Collector"]</a></li>
                                    <li><a asp-controller="Home" asp-route-id="3" asp-action="ContactUs">@Localizer["Assessment Appeals Board"]</a></li>
                                    <li>@Localizer["LA County Contacts"]</li>
                                    <li><a asp-controller="Home" asp-action="PublicInquiry">@Localizer["Public Inquiry"]</a></li>


                                </ul>
                            </div>
                        </li>
                        <li>
                            <ion-icon class="search-font" name="search"></ion-icon>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <!----------------------------- /END NAVBAR -------------------------->

        <div class="">
            <!------------------------------ BODY ---------------------------->
            @RenderBody()

            <!----------------------------- /END BODY ------------------------->


        </div>
        <!---------------------------------------------------------------------->
        <!---------------------------------FOOTER------------------------------->
        <!---------------------------------------------------------------------->

        <footer class="">
            <section class="container-fluid section-footer ">
                <div class="row">
                    <div class="col-md-2 col-sm-6 ">
                        <img src="~/images/LACSEAL152.png" alt="">
                        <p>@Localizer["Enriching Lives"]...</p>
                    </div>
                    <div class="col-md-2 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Do You Need Help?"]</li>
                            <li>@Localizer["211 LA County"]</li>
                            <li>@Localizer["LA County Helps"]</li>
                            <li>@Localizer["Public Alerts"]</li>
                            <li>@Localizer["Public Information"]</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6 ">
                        <ul>
                            <li>@Localizer["About"]</li>
                            <li>@Localizer["Disclaimer"]</li>
                            <li>@Localizer["Privacy Policy"]</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Site Info"]</li>
                            <li>@Localizer["Accessibility"]</li>
                            <li>@Localizer["Language"]</li>
                            <li>@Localizer["Browser Cmompatibility"]</li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-6 ">
                        <ul>
                            <li>@Localizer["Public Info"]</li>
                            <li>@Localizer["Board Correspondence"]</li>
                            <li>@Localizer["Board Ageneda"]</li>
                            <li>@Localizer["County Code"]</li>
                            <li>@Localizer["Online Services"]</li>
                        </ul>
                    </div>

                </div>
                <div class="row" id="footer-section">
                    <div class="">
                        &copy; 2019 COUNTY OF LOS ANGELES
                    </div>
                </div>

            </section>

        </footer>
    </div>




    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>

        <script src="~/lib/jquery/dist/min.popper.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/sticky.min.js"></script>

        <script src="~/js/site.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/min.popper.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
        

        <script src="~/js/jquery.waypoints.min.js"></script>
        <script src="~/js/site.js"></script>

    </environment>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60050118-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-60050118-10');
    </script>
</body>


</html>
