@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Adjusted Supplemental Property Tax Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["Adjusted Supplemental Property Tax Bill"]</h2>
</section>

<section class="tax-content container my-4">

    <img src="~/images/Tax-Bills/adjsuppbill2016.gif" alt="Adjusted Supplemental Property Tax Bill" usemap="#AdjSuppBill_Map">
    <map name="AdjSuppBill_Map">
        <area shape="circle" coords="729,1340,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(26)">
        <area shape="circle" coords="328,1295,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(25)">
        <area shape="circle" coords="641,1261,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(24)">
        <area shape="circle" coords="433,1252,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(23)">
        <area shape="circle" coords="729,1020,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(22)">
        <area shape="circle" coords="329,984,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(21)">
        <area shape="circle" coords="642,950,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(20)">
        <area shape="circle" coords="433,938,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(19)">
        <area shape="circle" coords="595,811,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(18)">
        <area shape="circle" coords="731,773,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(17)">
        <area shape="circle" coords="731,747,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(16)">
        <area shape="circle" coords="220,691,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(15)">
        <area shape="circle" coords="759,658,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(14)">
        <area shape="circle" coords="668,657,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(13)">
        <area shape="circle" coords="567,656,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(12)">
        <area shape="circle" coords="328,567,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)">
        <area shape="circle" coords="642,578,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)">
        <area shape="circle" coords="315,476,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)">
        <area shape="circle" coords="497,398,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)">
        <area shape="circle" coords="307,312,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)">
        <area shape="circle" coords="253,252,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)">
        <area shape="circle" coords="548,297,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)">
        <area shape="circle" coords="530,260,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)">
        <area shape="circle" coords="350,175,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)">
        <area shape="circle" coords="325,161,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)">
        <area shape="circle" coords="180,18,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Adjusted Supplemental Property Tax Bill"]</strong> - @Localizer["The Adjusted Supplemental Property"]
                @Localizer["Tax Bill replaces the Supplemental Property Tax Bill received for the same fiscal year."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number"]
                @Localizer["– (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office of the"]
                @Localizer["Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a"]
                @Localizer["four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
            <p>
                <strong>@Localizer["Year and Sequence"]</strong> - @Localizer["This area identifies the Year and Sequence – (16 000).  This five digit"]
                @Localizer["number is made up of a two-digit tax year and a three-digit sequence or bill type.  For example, a"]
                @Localizer["2016 annual bill is displayed as 16 000, however a 2016 supplemental bill may be displayed as 16 010."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["Transfer/New Construction Date"]</strong> - @Localizer["This date is used as the basis for the change in assessed"]
                @Localizer["value.  The term “Transfer Date” refers to the recording date of an ownership change.  \"New Construction Date\" refers"]
                @Localizer["to the date the new construction was completed."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p>
                <strong>@Localizer["General Tax Levy"]</strong> - @Localizer["This tax amount is the general one percent (1%) tax rate levied against"]
                @Localizer["every property in the County.  The calculation is 1 percent multiplied by the \"Net Taxable Value.\""]
            </p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p><strong>@Localizer["Voted Indebtedness"]</strong> - @Localizer["Voter-approved taxes levied against property."]</p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor."]</p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit"]
                @Localizer["card/Visa Debit card payments over the telephone.  To initiate a credit card/Visa Debit card payment,"]
                @Localizer["please call 1(888) 473-0835.  However, there are processing fees when paying by credit card/Visa Debit card."]
                @Localizer["Each transaction is limited to $99,999.99.  The PIN number is used to make electronic check payment to"]
                @Localizer["protect your security and privacy and is used to pay your current year and defaulted taxes online."]
                @Localizer["Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric, or"]
                @Localizer["alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The '0' is always a number zero."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Direct Assessments"]</strong> – @Localizer["These are additional charges placed on the property tax bills."]
                @Localizer["These charges are not based on Assessor’s valuations.  Examples of direct assessments are charges for sewer"]
                @Localizer["maintenance, water, or fire districts.  For questions regarding these assessments, please contact the agency."]
                @Localizer["The telephone number for each agency is listed on the bill, or please visit the Department of Auditor-Controller’s"]
                @Localizer["website for a Direct Assessment Listing."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
                @Localizer["and states whether there are any delinquent taxes owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p><strong>@Localizer["Total Prorated Taxes Due"]</strong></p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p>
                <strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address"]
                @Localizer["and/or legal description on record with the Office of the Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p>
                <strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of"]
                @Localizer["the property after the adjustment."]
            </p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p>
                <strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["This is the Assessor’s valuation"]
                @Localizer["of the property prior to the recent transfer/new construction date."]
            </p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p><strong>@Localizer["Net Assessed Value"]</strong> - @Localizer["The current assessed value less the prior assessed value."]</p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>@Localizer["Assessor’s Regional Office"]</strong> - @Localizer["This is the address and telephone"]
                @Localizer["number to contact for questions regarding the assessed value of the property."]
            </p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
        </div>
        <div class="bill-step">
            <div>17</div>
            <p>
                <strong>@Localizer["Net Supplemental Value"]</strong> - @Localizer["This is the difference between the"]
                @Localizer["current value and the prior value less exemptions."]
            </p>
        </div>
        <div class="bill-step">
            <div>18</div>
            <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any check returned by the bank."]</p>
        </div>
        <div class="bill-step">
            <div>19</div>
            <p>
                <strong>@Localizer["2nd Delinquency Date"]</strong> - @Localizer["If paying the bill in installments, the second installment"]
                @Localizer["must be received or United States Postal Service postmarked by this date, or a 10 percent penalty and a $10.00 cost"]
                @Localizer["will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>20</div>
            <p>
                <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment.  Taxpayers"]
                @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
                @Localizer["with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>21</div>
            <p>
                <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here."]
                @Localizer["Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number"]
                @Localizer["on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>22</div>
            <p>
                <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment"]
                @Localizer["stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>23</div>
            <p>
                <strong>@Localizer["1st Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by"]
                @Localizer["this date. If paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>24</div>
            <p>
                <strong>@Localizer["1st Installment Due"]</strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment"]
                @Localizer["and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>25</div>
            <p>
                <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment"]
                @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>26</div>
            <p>
                <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s)"]
                @Localizer["with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Adjusted Supplemental Property Tax Bill"]</strong> - @Localizer["The Adjusted Supplemental Property"]
            @Localizer["Tax Bill replaces the Supplemental Property Tax Bill received for the same fiscal year."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number"]
            @Localizer["– (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office of the"]
            @Localizer["Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a"]
            @Localizer["four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
        <p>
            <strong>@Localizer["Year and Sequence"]</strong> - @Localizer["This area identifies the Year and Sequence – (16 000).  This five digit"]
            @Localizer["number is made up of a two-digit tax year and a three-digit sequence or bill type.  For example, a"]
            @Localizer["2016 annual bill is displayed as 16 000, however a 2016 supplemental bill may be displayed as 16 010."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["Transfer/New Construction Date"]</strong> - @Localizer["This date is used as the basis for the change in assessed"]
            @Localizer["value.  The term “Transfer Date” refers to the recording date of an ownership change.  \"New Construction Date\" refers"]
            @Localizer["to the date the new construction was completed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p>
            <strong>@Localizer["General Tax Levy"]</strong> - @Localizer["This tax amount is the general one percent (1%) tax rate levied against"]
            @Localizer["every property in the County.  The calculation is 1 percent multiplied by the \"Net Taxable Value.\""]
        </p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p><strong>@Localizer["Voted Indebtedness"]</strong> - @Localizer["Voter-approved taxes levied against property."]</p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor."]</p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit"]
            @Localizer["card/Visa Debit card payments over the telephone.  To initiate a credit card/Visa Debit card payment,"]
            @Localizer["please call 1(888) 473-0835.  However, there are processing fees when paying by credit card/Visa Debit card."]
            @Localizer["Each transaction is limited to $99,999.99.  The PIN number is used to make electronic check payment to"]
            @Localizer["protect your security and privacy and is used to pay your current year and defaulted taxes online."]
            @Localizer["Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric, or"]
            @Localizer["alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The '0' is always a number zero."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Direct Assessments"]</strong> – @Localizer["These are additional charges placed on the property tax bills."]
            @Localizer["These charges are not based on Assessor’s valuations.  Examples of direct assessments are charges for sewer"]
            @Localizer["maintenance, water, or fire districts.  For questions regarding these assessments, please contact the agency."]
            @Localizer["The telephone number for each agency is listed on the bill, or please visit the Department of Auditor-Controller’s"]
            @Localizer["website for a Direct Assessment Listing."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
            @Localizer["and states whether there are any delinquent taxes owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p><strong>@Localizer["Total Prorated Taxes Due"]</strong></p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p>
            <strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address"]
            @Localizer["and/or legal description on record with the Office of the Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p>
            <strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of"]
            @Localizer["the property after the adjustment."]
        </p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p>
            <strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["This is the Assessor’s valuation"]
            @Localizer["of the property prior to the recent transfer/new construction date."]
        </p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p><strong>@Localizer["Net Assessed Value"]</strong> - @Localizer["The current assessed value less the prior assessed value."]</p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor’s Regional Office"]</strong> - @Localizer["This is the address and telephone"]
            @Localizer["number to contact for questions regarding the assessed value of the property."]
        </p>
    </div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
    </div>
</div>
<div class="floatbox" id="div17">
    <div class="float-content">
        <p>
            <strong>@Localizer["Net Supplemental Value"]</strong> - @Localizer["This is the difference between the"]
            @Localizer["current value and the prior value less exemptions."]
        </p>
    </div>
</div>
<div class="floatbox" id="div18">
    <div class="float-content">
        <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any check returned by the bank."]</p>
    </div>
</div>
<div class="floatbox" id="div19">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Delinquency Date"]</strong> - @Localizer["If paying the bill in installments, the second installment"]
            @Localizer["must be received or United States Postal Service postmarked by this date, or a 10 percent penalty and a $10.00 cost"]
            @Localizer["will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div20">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment.  Taxpayers"]
            @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
            @Localizer["with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div21">
    <div class="float-content">
        <p>
            <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here."]
            @Localizer["Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number"]
            @Localizer["on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div22">
    <div class="float-content">
        <p>
            <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment"]
            @Localizer["stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div23">
    <div class="float-content">
        <p>
            <strong>@Localizer["1st Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by"]
            @Localizer["this date. If paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div24">
    <div class="float-content">
        <p>
            <strong>@Localizer["1st Installment Due"]</strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment"]
            @Localizer["and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div25">
    <div class="float-content">
        <p>
            <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment"]
            @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div26">
    <div class="float-content">
        <p>
            <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s)"]
            @Localizer["with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>


