@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Annual Secured Property Tax Information Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer[ViewBag.Title]</h2>
</section>


<section class="tax-content container my-4">

    <img class="" src="~/images/Tax-Bills/annualbillinfoonly2016.gif" usemap="#AnnualBillInfo_Map">
    <map name="AnnualBillInfo_Map">
        <area shape="CIRCLE" coords="701,1356,12" href="javascript:void(0)" onClick="displayDescription(23)"
              onmouseout="killDescription(23)">
        <area shape="CIRCLE" coords="299,1313,12" href="javascript:void(0)" onClick="displayDescription(22)"
              onmouseout="killDescription(22)">
        <area shape="CIRCLE" coords="645,1271,12" href="javascript:void(0)" onClick="displayDescription(21)"
              onmouseout="killDescription(21)">
        <area shape="CIRCLE" coords="389,1261,12" href="javascript:void(0)" onClick="displayDescription(20)"
              onmouseout="killDescription(20)">
        <area shape="CIRCLE" coords="702,1043,12" href="javascript:void(0)" onClick="displayDescription(19)"
              onmouseout="killDescription(19)">
        <area shape="CIRCLE" coords="299,1004,12" href="javascript:void(0)" onClick="displayDescription(18)"
              onmouseout="killDescription(18)">
        <area shape="CIRCLE" coords="642,960,12" href="javascript:void(0)" onClick="displayDescription(17)"
              onmouseout="killDescription(17)">
        <area shape="CIRCLE" coords="387,950,12" href="javascript:void(0)" onClick="displayDescription(16)"
              onmouseout="killDescription(16)">
        <area shape="CIRCLE" coords="478,801,12" href="javascript:void(0)" onClick="displayDescription(15)"
              onmouseout="killDescription(15)">
        <area shape="CIRCLE" coords="253,828,12" href="javascript:void(0)" onClick="displayDescription(14)"
              onmouseout="killDescription(14)">
        <area shape="CIRCLE" coords="478,765,12" href="javascript:void(0)" onClick="displayDescription(13)"
              onmouseout="killDescription(13)">
        <area shape="CIRCLE" coords="206,691,12" href="javascript:void(0)" onClick="displayDescription(12)"
              onmouseout="killDescription(12)">
        <area shape="CIRCLE" coords="623,684,12" href="javascript:void(0)" onClick="displayDescription(11)"
              onmouseout="killDescription(11)">
        <area shape="CIRCLE" coords="315,612,12" href="javascript:void(0)" onClick="displayDescription(10)"
              onmouseout="killDescription(10)">
        <area shape="CIRCLE" coords="550,585,12" href="javascript:void(0)" onClick="displayDescription(9)"
              onmouseout="killDescription(9)">
        <area shape="CIRCLE" coords="332,450,12" href="javascript:void(0)" onClick="displayDescription(8)"
              onmouseout="killDescription(8)">
        <area shape="CIRCLE" coords="548,288,12" href="javascript:void(0)" onClick="displayDescription(7)"
              onmouseout="killDescription(7)">
        <area shape="CIRCLE" coords="332,341,12" href="javascript:void(0)" onClick="displayDescription(6)"
              onmouseout="killDescription(6)">
        <area shape="CIRCLE" coords="548,225,12" href="javascript:void(0)" onClick="displayDescription(5)"
              onmouseout="killDescription(5)">
        <area shape="CIRCLE" coords="245,287,12" href="javascript:void(0)" onClick="displayDescription(4)"
              onmouseout="killDescription(4)">
        <area shape="CIRCLE" coords="532,185,12" href="javascript:void(0)" onClick="displayDescription(3)"
              onmouseout="killDescription(3)">
        <area shape="CIRCLE" coords="317,159,12" href="javascript:void(0)" onClick="displayDescription(2)"
              onmouseout="killDescription(2)">
        <area shape="CIRCLE" coords="112,33,12" href="javascript:void(0)" onClick="displayDescription(1)"
              onmouseout="killDescription(1)">
    </map>



    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Annual Secured Property Tax Bill"]</strong> - @Localizer["The Annual Secured Property Tax Bill is mailed on or before November 1 of each year. The annual"]
                @Localizer["bill has two payment stubs. The first installment payment is due November 1. It becomes delinquent and will be subject to a 10 percent penalty if"]
                @Localizer["payment is not received or postmarked by the United States Postal Service (USPS) on or before December 10. The second installment payment is due"]
                @Localizer["February 1. It becomes delinquent and will be subject to a 10 percent penalty and a $10 cost if payment is not received or USPS postmarked on or"]
                @Localizer["before April 10."]

            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s Identification Number"]
                @Localizer["(AIN) is a ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County. This ten-digit AIN is made"]
                @Localizer["up of a four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
            <p>
                <strong>@Localizer["Year and Sequence"]</strong> - @Localizer["This area identifies the Year and Sequence – (16 000). This five digit number is made up of a two-digit tax year and a three-digit sequence"]
                @Localizer["or bill type. For example, a 2016 annual bill is displayed as 16 000, however a 2016 supplemental bill may be displayed as 16 010."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>
                    @Localizer["General Tax Levy"]
                </strong> - @Localizer["This tax amount is the general one percent (1%) tax rate levied against every property in the County. The calculation is 1 percent multiplied by"]
                @Localizer["the \"Net Taxable Value.\""]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor"]</p>
</div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Voted Indebtedness"] </strong> - @Localizer["Voter-approved taxes levied against property."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>
                    @Localizer["Electronic Fund Transfer (EFT) Number"]
                </strong> - @Localizer["The EFT number is used to make credit card/Visa Debit card payments over the telephone. To initiate a credit"]
                @Localizer["card/Visa Debit card payment, please call 1(888) 473-0835. However, there are processing fees when paying by credit card/Visa Debit card. Each transaction is limited to"]
                @Localizer["$99,999.99. The PIN number is used to make electronic check payment to protect your security and privacy and is used to pay your current year and defaulted taxes online."]
                @Localizer["Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric, or alpha/numeric characters. The alpha letter 'O' is not used in the PIN. The"]
                @Localizer["'0' is always a number zero."]
            </p>

        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>
                    @Localizer["Direct Assessments"]
                </strong> - @Localizer["These are additional charges placed on the property tax bills. These charges are not based on Assessor’s"]
                @Localizer["valuations. Examples of direct assessments are charges for sewer maintenance, water, or fire districts. For questions regarding these assessments,"]
                @Localizer["please contact the agency. The telephone number for each agency is listed on the bill, or please visit the Department of Auditor-Controller’s"]
                @Localizer["website for a Direct Assessment Listing."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>
                    @Localizer["Special Information"]
                </strong> – @Localizer["This section provides important information about the bill and states whether there are any delinquent taxes"]
                @Localizer["owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>
                    @Localizer["Total Taxes Due"]
                </strong> - @Localizer["This is the total amount due for the bill. The Annual Secured Property Tax Bill has two payment stubs. The first"]
                @Localizer["installment is due November 1 and is delinquent December 10. If the first installment is not received or United States Postal Service (USPS)"]
                @Localizer["postmarked by December 10, a 10 percent penalty will be imposed. The second installment is due February 1 and is delinquent April 10. If the second"]
                @Localizer["installment is not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed. Taxpayers must be sure"]
                @Localizer["to include the payment stub with any type of payment and write their Assessor's Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p><strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address and/or legal description on record with the Office of the Assessor."]</p>
</div>
        <div class="bill-step">
            <div>11</div>
            <p><strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]</p>
</div>
        <div class="bill-step">
            <div>12</div>
            <p><strong>@Localizer["Assessor's Regional Office"]</strong> - @Localizer["This is the address and telephone number to contact for questions regarding the assessed value of the property."]</p>
</div>
        <div class="bill-step">
            <div>13</div>
            <p><strong>@Localizer["Less Exemption"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
</div>
        <div class="bill-step">
            <div>14</div>
            <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any checks returned by the bank"]</p>
</div>
        <div class="bill-step">
            <div>15</div>
            <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer["The difference between the current value and exemptions."]</p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p>
                <strong>
                    @Localizer["2nd Installment Delinquency Date"]
                </strong> - @Localizer["If paying the bill in installments, the second installment must be received or United States Postal"]
                @Localizer["Service postmarked by this date, or a 10 percent penalty and a $10.00 cost will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>17</div>
            <p>
                <strong>
                    @Localizer["2nd Installment Due"]
                </strong> - @Localizer["Amount of taxes due for the second installment. Taxpayers must be sure to include the payment stub with any type"]
                @Localizer["of payment and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>18</div>
            <p>
                <strong>
                    @Localizer["Remit Amount"]
                </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the"]
                @Localizer["payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>19</div>
            <p>
                <strong>
                    @Localizer["Make Checks Payable"]
                </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment"]
                @Localizer["stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>

        <div class="bill-step">
            <div>20</div>
            <p>
                <strong>
                    @Localizer["1st Installment Delinquency Date"]
                </strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by"]
                @Localizer["this date. If paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>21</div>
            <p>
                <strong>
                    @Localizer["1st Installment Due"]
                </strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment"]
                @Localizer["and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>22</div>
            <p>
                <strong>
                    @Localizer["Remit Amount"]
                </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment"]
                @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>23</div>
            <p>
                <strong>
                    @Localizer["Make Checks Payable"]
                </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s)"]
                @Localizer["with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>

    </div>
</section>
<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Annual Secured Property Tax Bill"]
            </strong> - @Localizer["The Annual Secured Property Tax Bill is mailed on or before November 1 of each year. The annual"]
            @Localizer["bill has two payment stubs. The first installment payment is due November 1. It becomes delinquent and will be subject to a 10 percent penalty if"]
            @Localizer["payment is not received or postmarked by the United States Postal Service (USPS) on or before December 10. The second installment payment is due"]
            @Localizer["February 1. It becomes delinquent and will be subject to a 10 percent penalty and a $10 cost if payment is not received or USPS postmarked on or"]
            @Localizer["before April 10."]

        </p>
    </div>

</div>

<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Assessor's Identification Number"]
            </strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s"]
            @Localizer["Identification Number (AIN) is a ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County."]
            @Localizer["This ten-digit AIN is made up of a four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
        <p>
            <strong>
                @Localizer["Year and Sequence"]
            </strong> - @Localizer["This area identifies the Year and Sequence – (16 000). This five digit number is made up of a two-digit tax"]
            @Localizer["year and a three-digit sequence or bill type. For example, a 2016 annual bill is displayed as 16 000, however a 2016 supplemental bill may be"]
            @Localizer["displayed as 16 010."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["General Tax Levy"]
            </strong> - @Localizer["This tax amount is the general one percent (1%) tax rate levied against every property in the County. The"]
            @Localizer["calculation is 1% multiplied by the \"Net Taxable Value.\""]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor"]</p>
</div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Voted Indebtedness"] </strong> - @Localizer["Voter-approved taxes levied against property."]

        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Electronic Fund Transfer (EFT) Number"]
            </strong> -  @Localizer["The EFT number is used to make credit card/Visa Debit card payments over the telephone. To initiate"]
            @Localizer["a credit card/Visa Debit card payment, please call 1(888) 473-0835. However, there are processing fees when paying by credit card/Visa Debit card."]
            @Localizer["Each transaction is limited to $99,999.99. The PIN number is used to make electronic check payment to protect your security and privacy and is used"]
            @Localizer["to pay your current year and defaulted taxes online. Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric,"]
            @Localizer["or alpha/numeric characters. The alpha letter 'O' is not used in the PIN. The '0' is always a number zero."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Direct Assessments"]
            </strong> - @Localizer["These are additional charges placed on the property tax bills. These charges are not based on Assessor’s"]
            @Localizer["valuations. Examples of direct assessments are charges for sewer maintenance, water, or fire districts. For questions regarding these assessments,"]
            @Localizer["please contact the agency. The telephone number for each agency is listed on the bill, or please visit the Department of Auditor-Controller’s"]
            @Localizer["website for a Direct Assessment Listing."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Special Information"]
            </strong> – @Localizer["This section provides important information about the bill and states whether there are any delinquent taxes"]
            @Localizer["owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Total Taxes Due"]
            </strong> - @Localizer["This is the total amount due for the bill. The Annual Secured Property Tax Bill has two payment stubs. The first"]
            @Localizer["installment is due November 1 and is delinquent December 10. If the first installment is not received or United States Postal Service (USPS)"]
            @Localizer["postmarked by December 10, a 10 percent penalty will be imposed. The second installment is due February 1 and is delinquent April 10. If the second"]
            @Localizer["installment is not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed. Taxpayers must be sure"]
            @Localizer["to include the payment stub with any type of payment and write their Assessor's Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p><strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address and/or legal description on record with the Office of the Assessor."]</p>
</div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p><strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]</p>
</div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p><strong>@Localizer["Assessor's Regional Office"]</strong> - @Localizer["This is the address and telephone number to contact for questions regarding the assessed value of the property."]</p>
</div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p><strong>@Localizer["Less Exemption"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
</div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any checks returned by the bank"]</p>
</div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer["The difference between the current value and exemptions."]</p>
</div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["2nd Installment Delinquency Date"]
            </strong> - @Localizer["If paying the bill in installments, the second installment must be received or United States Postal"]
            @Localizer["Service postmarked by this date, or a 10 percent penalty and a $10.00 cost will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div17">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["2nd Installment Due"]
            </strong> - @Localizer["Amount of taxes due for the second installment. Taxpayers must be sure to include the payment stub with any type"]
            @Localizer["of payment and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div18">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Remit Amount"]
            </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the"]
            @Localizer["payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div19">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Make Checks Payable"]
            </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment"]
            @Localizer["stub(s) with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>

<div class="floatbox" id="div20">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["1st Installment Delinquency Date"]
            </strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by"]
            @Localizer["this date. If paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div21">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["1st Installment Due"]
            </strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment"]
            @Localizer["and write their Assessor’s Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div22">
    <div class="float-content">

        <p>
            <strong>
                @Localizer["Remit Amount"]
            </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment"]
            @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div23">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Make Checks Payable"]
            </strong> -  @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s)"]
            @Localizer["with the payment and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>

