@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="Contact-Section">
    <div class="contact-bgimg">
        <br />
        <br />
        <div class="contact-header">&nbsp;&nbsp;&nbsp;@Localizer["CONTACT INFORMATION"] </div>
    </div>
    <section class="tab-background">
        <div class="tab container">
            <div class="row">
                @if (Model.tabid == 0)
                {
                    <button class="col-md-3 col-sm-16 tablinks" id="defaultOpen" onclick="openCity(event, 'Assessor')">@Localizer["Assessor"]</button>
                    <button class="col-md-3 col-sm-16 tablinks" onclick="openCity(event, 'Auditor')">@Localizer["Auditor/Controller"]</button>
                    <button class="col-md-3 col-sm-16 tablinks" onclick="openCity(event, 'Treasurer')">@Localizer["Treasurer & Tax Collector"]</button>
                    <button class="col-md-3 col-sm-16 tablinks" onclick="openCity(event, 'Assessment')">@Localizer["Assessment Appeals Board"]</button>
                }
                else if (Model.tabid == 1)
                {
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Assessor')">@Localizer["Assessor"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Auditor')">@Localizer["Auditor/Controller"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Treasurer')">@Localizer["Treasurer & Tax Collector"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Assessment')">@Localizer["Assessment Appeals Board"]</button>
                }
                else if (Model.tabid == 2)
                {
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Assessor')">@Localizer["Assessor"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Auditor')">@Localizer["Auditor/Controller"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Treasurer')">@Localizer["Treasurer & Tax Collector"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Assessment')">@Localizer["Assessment Appeals Board"]</button>
                }
                else
                {
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Assessor')">@Localizer["Assessor"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Auditor')">@Localizer["Auditor/Controller"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" onclick="openCity(event, 'Treasurer')">@Localizer["Treasurer & Tax Collector"]</button>
                    <button class="col-md-3 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Assessment')">@Localizer["Assessment Appeals Board"]</button>
                }
            </div>
        </div>
    </section>
    <section class="contact-pto-header">
        <div class="row text-center">
            <div class="col-md-6 p-0">
                <img src="~/images/contact-phone.png" class="image-fluid center-block w-100" />
            </div>
            <div class="col-md-6 contact-pto-title">
                
                <h1 style="color:white; font-weight:bold;">@Localizer["Assessor"]</h1>
                <br />
                <p style="color:white; padding-left: 80px; padding-right:80px;">

                </p>
            </div>
        </div>
        <div style="height:25px; background-color:#343a40"></div>
    </section>
    <section class=" Section-Contact-Content tab-content">
        <div role="tabpanel" class="tab-pane active" id="assessor">
            <div class="row h-100">
                <div class="area-text-border col-6 px-5">
                    
                        <p style="padding-left: 100px; font-size:25px;">@Localizer["The Los Angeles County Assessor establishes the assessed value of your property by appraising the value of that property under applicable State laws. The assessed value of your property is placed on the \"Assessment Roll\". The Assessor also approves and applies all exemptions which are added to the Assessment Roll. The Roll is then presented to the Los Angeles County Auditor-Controller for further processing."]</p>
           
                        <p style="padding-left: 100px; font-size:25px;">@Localizer["Click the button below to see the areas of jurisdiction for the Assessor and related County departments. Questions regarding these areas should be directed to that office, or visit the Assessor's Website at <a href='https://assessor.lacounty.gov/'>assessor.lacounty.gov</a>."]</p>
                    
                        <div class="form-group col-sm-12 text-center justify-content-md-center">
                            <input type="submit" class="btn btn-primary bg-3" id="AreasofResponsibility" value="@Localizer["Areas of Responsibility"]" asp-controller="Home" asp-action="AreasOfResponsibility" />
                        </div>
                    
                </div>  
                <div class="col-6 justify-content-center">
                    
                        <p style="padding-left: 100px; font-size:25px;">@Localizer["Los Angeles County Assessor's Public Service Section<BR>Room 225, 500 West Temple St.<BR>Los Angeles, CA 90012-2713"]</p>
                    
                       
                            <p style="padding-left: 100px; font-size:25px;">@Localizer["Phone:&nbsp;&nbsp;&nbsp;(888) 807-2111 (Toll Free)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(213 974-3211"]</p>

                            <div class="form-group col-sm-12 text-center content-bottom">
                                <input type="submit" class="btn btn-primary bg-3" id="PublicInquiryForm" value="@Localizer["Public Inquiry Form"]" asp-controller="Home" asp-action="PublicInquiryForm" />
                            </div>
                        
                    
                </div>

            </div>
            <br />
            <br />
        </div>




    </section>
</section>
