@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="FAQ-Section">
    <style>
        body {
            font-family: Arial;
        }



        .tablinks {
            border: 1px solid #000;
            position: relative;
        }
        /* Style the buttons inside the tab */

        .tab.container {
            max-width: 1400px;
        }

        .tab button {
            background-color: #343a40;
            float: left;
            outline: 1px;
            border-right-color: white;
            border-top-color: #343a40;
            cursor: pointer;
            padding: 16px 18px;
            transition: 0.3s;
            font-size: 17px;
            border-left: 1px;
            color: white;
            position: relative;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

        /* Style the tab content */

        .section-tabs button {
            width: 100%;
        }

        .section-tabs .btn {
            text-align: left;
        }

        .section-center {
            text-align: center;
        }

        .faq-header {
            width: 100%;
            text-align: center;
            font-size: 270%;
            color: white;
            /*background-color: rgba(0,0,0,0.5);*/
            font-weight: bold;
        }

        .faq-subheading {
            width: 100%;
            text-align: center;
            height: 43%;
            padding-top: 5px;
            color: white;
            /*background-color:rgba(0,0,0,0.5);*/
        }

        .button-size {
            width: 20%;
        }

        .tab-background {
            background-color: #343a40;
            /*border: 1px solid #fff;*/
            top: 1200px;
        }
    </style>


    <div class="bgimg">
        <br />
        <br />
        <div class="faq-header">&nbsp;&nbsp;&nbsp;@Localizer["FREQUENTLY ASKED QUESTIONS"] </div>
        <br />
        <div class="faq-subheading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Localizer["If you have any questions, please contact us. We will respond to you as soon as possible."]</div>
    </div>
    <section class="tab-background">
        <div class="tab container">
            <div class="row">
                @if (Model.tabid == 0)
                {
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
                else if (Model.tabid == 1)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>

                }
                else if (Model.tabid == 2)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>

                }
                else if (Model.tabid == 3)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
                else
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
            </div>
        </div>
    </section>
    <br />
    <div id="All" class="tabcontent active active-tab">
        <div>
            <h1 class="section-center"> @Localizer["All FAQs"] </h1>
        </div>
        <hr style="background-color:#343a40" />
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                <div><h4>@Localizer["Tax Bills"]</h4></div>
                @foreach (FAQ taxfaq in Model.TaxBill)
                {
                    if (@taxfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                &nbsp;&nbsp; @Localizer[@Html.Raw(@taxfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@taxfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxfaq.answer).ToString()]
                            </div>
                        </div>
                    }
                    <div style="height:5px;"></div>
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div><h4>@Localizer["Refunds/Tax Sales/Tax Liens"]</h4></div>
                @foreach (FAQ refundfaq in Model.Refund)
                {
                    if (@refundfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-button">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@refundfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div><h4>@Localizer["Property Values"]</h4></div>
                @foreach (FAQ propfaq in Model.Property)
                {
                    if (@propfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@propfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div><h4>@Localizer["Ownership"]</h4></div>
                @foreach (FAQ ownerfaq in Model.Ownership)
                {
                    if (@ownerfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@ownerfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
        </div>
    </div>
    <div id="TaxBill" class="tabcontent" style="display:none">
        <div><h1 class="section-center">@Localizer["Tax Bills"] </h1></div>
        <hr style="background-color:#343a40" />
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ taxfaq in Model.TaxBill)
                {
                    if (@taxfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@taxfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@taxfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxfaq.answer).ToString()]
                            </div>
                        </div>
                    }
                    <div style="height:5px;"></div>
                }
            </section>
        </div>
    </div>
    <div id="Refund" class="tabcontent" style="display:none">
        <div><h1 class="section-center"> Refunds/Tax Sales/Tax Liens </h1></div>
        <hr style="background-color:#343a40" />
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ refundfaq in Model.Refund)
                {
                    if (@refundfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@refundfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
        </div>
    </div>
    <div id="Property" class="tabcontent" style="display:none">
        <div><h1 class="section-center">  @Localizer["Property Values"] </h1></div>
        <hr style="background-color:#343a40" />
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ propfaq in Model.Property)
                {
                    if (@propfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@propfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
        </div>

    </div>
    <div id="Ownership" class="tabcontent" style="display:none">
        <div><h1 class="section-center"> @Localizer["Ownership"] </h1></div>
        <hr style="background-color:#343a40" />
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ ownerfaq in Model.Ownership)
                {
                    if (@ownerfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle faq-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@ownerfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
        </div>

    </div>


    <script>
        function openCity(evt, TabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tabcontent.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(TabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
    

</section>