@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="FAQ-Section">
    

    <section class="container-fluid bg-header bg-faq">
        <h2 class="display-4"> @Localizer["FREQUENTLY ASKED QUESTIONS"] </h2>
    </section>

    <section class="tab-background">
        <div class="tab container">
            <div class="row">
                @if (Model.tabid == 0)
                {
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
                else if (Model.tabid == 1)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>

                }
                else if (Model.tabid == 2)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>

                }
                else if (Model.tabid == 3)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
                else if (Model.tabid == 4)
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
                else
                {
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxBill')">@Localizer["Tax Bills"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Refund')">@Localizer["Refunds/Tax Sales/Tax Liens"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Property')">@Localizer["Property Values"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'Ownership')">@Localizer["Ownership"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" onclick="openCity(event, 'TaxAgent')">@Localizer["Tax Agent Registration"]</button>
                    <button class="col-md-2 col-sm-12 tablinks" id="defaultOpen" onclick="openCity(event, 'All')">@Localizer["All FAQs"]</button>
                }
            </div>
        </div>
    </section>
    <div id="All" class="tabcontent active active-tab">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                <div class="sub-sub-heading">@Localizer["Tax Bills"]</div>
                @foreach (FAQ taxfaq in Model.TaxBill)
                {
                   
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@taxfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxfaq.answer).ToString()]

                            </div>
                        </div>
                    
                    <div style="height:5px;"></div>
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div class="sub-sub-heading">@Localizer["Refunds/Tax Sales/Tax Liens"]</div>
                @foreach (FAQ refundfaq in Model.Refund)
                {
                    if (@refundfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-button">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@refundfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@refundfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div class="sub-sub-heading">@Localizer["Property Values"]</div>
                @foreach (FAQ propfaq in Model.Property)
                {
                    if (@propfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@propfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@propfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div class="sub-sub-heading">@Localizer["Ownership"]</div>
                @foreach (FAQ ownerfaq in Model.Ownership)
                {
                    if (@ownerfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@ownerfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@ownerfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
            <br />
            <section class="container section-tabs">
                <div class="sub-sub-heading">@Localizer["Tax Agent Registration"]</div>
                @foreach (FAQ taxagentfaq in Model.TaxAgent)
                {
                    if (@taxagentfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@taxagentfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@taxagentfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxagentfaq.answer).ToString()]
                            </div>
                        </div>
                        <div style="height:5px;"></div>
                    }
                }
            </section>
        </div>
    </div>
    <!-- edited css to match design of 'areas of respons' -->
    <div id="TaxBill" class="tabcontent" style="display:none">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ taxfaq in Model.TaxBill)
                {
                   
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@taxfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxfaq.answer).ToString()]
                            </div>

                        </div>


                    

                }
            </section>
        </div>
    </div>
    <div id="Refund" class="tabcontent" style="display:none">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ refundfaq in Model.Refund)
                {
                    if (@refundfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@refundfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@refundfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@refundfaq.answer).ToString()]
                            </div>
                        </div>

                    }
                }
            </section>
        </div>
    </div>
    <div id="Property" class="tabcontent" style="display:none">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ propfaq in Model.Property)
                {
                    if (@propfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@propfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@propfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@propfaq.answer).ToString()]
                            </div>
                        </div>

                    }
                }
            </section>
        </div>

    </div>
    <div id="Ownership" class="tabcontent" style="display:none">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ ownerfaq in Model.Ownership)
                {
                    if (@ownerfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@ownerfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@ownerfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@ownerfaq.answer).ToString()]
                            </div>
                        </div>

                    }
                }
            </section>
        </div>
    </div>
    <div id="TaxAgent" class="tabcontent" style="display:none">
        <br />
        <div class="FAQ-Section-2">
            <section class="container section-tabs">
                @foreach (FAQ taxagentfaq in Model.TaxAgent)
                {
                    if (@taxagentfaq.question.Contains("<a"))
                    {
                        <div>
                            <button type="button" id="dropdownMenuButton" class="faq-Anchor-button">
                                @Localizer[@Html.Raw(@taxagentfaq.question).ToString()]
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle faq-button d-flex justify-content-between " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>@Localizer[@Html.Raw(@taxagentfaq.question).ToString()]</div>
                                <div><i class="fa fa-chevron-down "></i></div>
                            </button>
                            <div class="dropdown-menu position-relative" aria-labelledby="dropdownMenuButton">
                                @Localizer[@Html.Raw(@taxagentfaq.answer).ToString()]
                            </div>
                        </div>

                    }
                }
            </section>
        </div>
    </div>


    <script>
        function openCity(evt, TabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tabcontent.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(TabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>


</section>