@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-govsites">
    <h2 class="display-4"> @Localizer["OTHER GOVERNMENT SITES"] </h2>
</section>
<br />
<br />
<!-- links to other government sites -->
<section class="container text-center">
    

    <div class="row justify-content-center">
        <a href="http://www.boe.ca.gov/proptaxes/proptax.htm" target="_blank">@Localizer["California State Board of Equalization"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://cssd.lacounty.gov/wps/portal/cssd/parents/mostwanted" target="_blank">@Localizer["Child Support Services Department’s “Most Wanted” List"]</a>
    </div>
    <br />
    
    <div class="row justify-content-center">
        <a href="http://www.lavote.net/home/records/property-document-recording/forms/homesteads" target="_blank">@Localizer["Declaration of Homestead"]</a>
    </div>
    <br />

    <!-- not working -->
    <div class="row justify-content-center">
        <a href="https://www.ftb.ca.gov/individuals/hra/index.html" target="_blank">@Localizer["Frequently Requested L.A.County Forms"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://bos.lacounty.gov" target="_blank">@Localizer["L.A.County Board of Supervisors"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="https://ceo.lacounty.gov/" target="_blank">@Localizer["L.A.County Chief Exeuctive Office"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://dcba.lacounty.gov/" target="_blank">@Localizer["L.A.County Department of Consumer & Business Affairs"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="https://hr.lacounty.gov/" target="_blank">@Localizer["L.A.County Department of Human Resources"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="https://www.lacounty.gov/government/county-services/" target="_blank">@Localizer["L.A.County Directory of Services and Information"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="https://www.lacounty.gov/contact-quick-reference-guide/" target="_blank">@Localizer["L.A.County Quick Reference Guide"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="https://www.lavote.net/" target="_blank">@Localizer["L.A.County Registrar - Recorder / County Clerk"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://www.lavote.net/home/records/property-document-recording/recording-requirements" target="_blank">@Localizer["Property Document Recording"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://www.sco.ca.gov/ardtax_prop_tax_postponement.html" target="_blank">@Localizer["Property Tax Postponement"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://www.lavote.net/home/records/real-estate-records/viewing-real-estate-records/view-real-estate-records" target="_blank">@Localizer["Real Estate Records - Copies"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://www.statelocalgov.net" target="_blank">@Localizer["State and Local Government on the Net"]</a>
    </div>
    <br />

    <div class="row justify-content-center">
        <a href="http://www.ca.gov/" target="_blank">@Localizer["State of California Portal"]</a>
    </div>
    <br />
    <br />
</section>