@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-paymentinfo">
    <h2 class="display-4"> @Localizer["How Much Do I Owe?"] </h2>
</section>

<section class="news">
    <div class="container news-area mt-4">
        <p>@Localizer["To locate the amount of your Secured Property Taxes, click the following link How much are my property taxes? and enter your Assessor's Identification Number. This website provides current year and delinquent secured tax information. Current year is available between October 1 and June 30 only. Delinquent Secured Tax information is available all year except during the month of July."]</p>
        <p>
            <div class="row my-2">
                <div class="form-group col-sm-12 text-center">
                    <a href="https://vcheck.ttc.lacounty.gov/" target="_blank" aria-label="Secured Property Taxes" class="btn btn-primary bg-3">@Localizer["Secured Property Taxes"]</a>
                </div>
            </div>
        </p>
        <p>@Localizer["To locate the amount of your Current Year Unsecured Taxes, click the following link How much are my Unsecured taxes? and enter the year and bill number. This website provides current year unsecured tax information and is available between March 1 and June 30 only. Delinquent Unsecured Tax information is only available by telephone or in person. Please call (213)893-7935 or visit us at 225 N. Hill Street, Los Angeles, CA 90012. We are located on the first floor in Room 122."]</p>
        <p>
            <div class="row my-2">
                <div class="form-group col-sm-12 text-center">
                    <a href="https://ttc.lacounty.gov/property-tax-balance-due-unsecured/" target="_blank" aria-label="Unsecured Property Taxes" class="btn btn-primary bg-3">@Localizer["Unsecured Property Taxes"]</a>
                </div>
            </div>
        </p>
    </div>
    <p>
        <br />
        <div class="row my-2">
            <div class="form-group col-sm-12 text-center">
                <a href="https://ttc.lacounty.gov/pay-your-property-taxes/" target="_blank" aria-label="Pay Property Taxes" class="btn btn-primary bg-3" style="background:red">@Localizer["Pay Property Taxes"]</a>
            </div>
        </div>
    </p>
</section>