@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<PropertyTaxPortal.Models.News>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!---------------------------------------------------------------------->
<!----------------------------------INDEX------------------------------->
<!---------------------------------------------------------------------->



<section class="container section-news">
    <div class="row news-feed">
        <div class="col-sm-3 latest-news">
            <p><a asp-controller="Home" asp-action="News">@Localizer["Latest News"] </a></p>
        </div>
        <div class="col-sm-9 news-car">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @{int counter = 0;}
                    @foreach (var item in Model)
                    {
                        @if (counter == 0)
                        {
                            <div class="carousel-item active">
                                @{ int test = item.NewsId;}
                                <a class="t-shadow" asp-controller="Home" asp-route-id="@item.NewsId" asp-action="NewsLanding"><p>@Localizer[@Html.Raw(item.Title).ToString()]</p></a>

                                @{counter++;}
                            </div>
                                    }
                                    else
                                    {
                            <div class="carousel-item">
                                @{ int test = item.NewsId;}
                                <a class="t-shadow" asp-controller="Home" asp-route-id="@item.NewsId" asp-action="NewsLanding"><p>@Localizer[@Html.Raw(item.Title).ToString()]</p></a>

                            </div>
                                    }
                                    }
                </div>
            </div>
        </div>
    </div>

</section>

<!---------------------------------------------------------------------->
<!----------------------------------Carousel---------------------------->
<!---------------------------------------------------------------------->
<section class="container-fluid section-head">
    <div class="row section-columns">
        <div class="col-lg-5 welcome-header js--wp-8">
            <h1 class="display-3 t-shadow ">@Localizer["Welcome"]</h1>
            <p class="t-shadow">
                @Localizer["Assessor, Auditor-Controller, Treasurer and Tax Collector, and Assessment Appeals Board have prepared this property tax information site to provide taxpayers with an overview and some specific detail about the property tax process in Los Angeles County"].
            </p>
        </div>
        <div class="col-lg-7 carousel-header">
            <div id="carouselExampleControls" class="carousel slide container h-100 " data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a asp-controller="Home" asp-route-id="0" asp-action="ContactUs">
                            <div class="name-text position-absolute">
                                <p class=""><span>Jeffrey Prang</span></p>
                                <p class="text-underline">@Localizer["Assessor"]</p>
                            </div>
                            
                            <div class="row">

                                <div class="col-3 align-items-center">
                                   
                                </div>
                                <div class="col-9 img-carousel h-100">

                                    <div class="img-seal">
                                        <img src="~/images/assessor-official.png" class="w-100 js--wp-2 img-seal" alt="...">

                                    </div>

                                    <img class="js--wp-9 img-person" src="~/images/jprang-final-crop.png" alt="Jprang slider">
                                    
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item ">
                        <a asp-controller="Home" asp-route-id="1" asp-action="ContactUs">
                            <div class="name-text position-absolute">
                                <p class=""><span>Arlene Barrera</span></p>
                                <p class="text-underline">@Localizer["Acting Auditor-Controller"]</p>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                   
                                </div>
                                <div class="col-9 img-carousel">

                                    <div class="img-seal">
                                        <img src="~/images/LASEAL-tint.png" class="w-100 js--wp-2 img-seal" alt="...">
                                    </div>
                                    <img class="js--wp-9 img-person i-4" src="~/images/ArleneBarerra-ptp-crop2.png" alt="Jnaimo slider">

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a asp-controller="Home" asp-route-id="2" asp-action="ContactUs">
                            <div class="name-text position-absolute">
                                <p class=""><span>Keith Knox</span></p>
                                <p class="text-underline">@Localizer["Acting Treasurer and Tax Collector"]</p>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    
                                </div>
                                <div class="col-9 img-carousel">

                                    <div class="img-seal">
                                        <img src="~/images/TTC-Seal-logo.png" class="w-100 js--wp-2 img-seal" alt="la county seal">
                                    </div>
                                    <img class="js--wp-9 img-person" src="~/images/KeithKnox.png" alt="Jkelly slider">

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item ">
                        <a asp-controller="Home" asp-route-id="3" asp-action="ContactUs">
                            <div class="name-text position-absolute">
                                <p class=""><span>Celia Zavala</span></p>
                                <p class="text-underline">@Localizer["Executive Officer"]</p>
                                <p class="text-underline">@Localizer["Assessment Appeals Board"]</p>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    
                                </div>
                                <div class="col-9 img-carousel">

                                    <div class="img-seal">
                                        <img src="~/images/LASEAL-tint.png" class="w-100 js--wp-2 img-seal" alt="...">
                                    </div>
                                    <img class="js--wp-9 img-person i-3" src="~/images/new_czavala.png" alt="Czavala slider">

                                </div>
                            </div>
                        </a>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>


<!---------------------------------------------------------------------->
<!----------------------------------Cards------------------------------->
<!---------------------------------------------------------------------->

<section class="container-fluid section-cards">
    <div class="row">



        <div class="col-md-3 col-sm-6 text-card bg-1 js--wp-5">
            <a href="https://ttc.lacounty.gov/pay-your-property-taxes/"  target="_blank">
                <div class="card-img bg-1">
                  
                    <ion class="fas fa-dollar-sign c-2"></ion>
                </div>
                <p>@Localizer["Pay Property </br> Taxes"]</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-card bg-2 js--wp-6">
            <a href="https://ttc.lacounty.gov/property-tax-management-system/" target="_blank">
                <div class="card-img bg-2">
                
                    <ion class="fas fa-tasks c-3"></ion>
                </div>
                <p>@Localizer["PROPERTY TAX MANAGEMENT SYSTEM"]</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-card bg-3 js--wp-7">
            <a href="https://assessor.lacounty.gov/change-mailing-address/"  target="_blank">
                <div class="card-img bg-3">
                  

                    <ion class="far fa-envelope-open c-4"></ion>
                </div>
                <p>@Localizer["Change Mailing Address"]</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 text-card bg-4 js--wp-10">
            <a href="https://portal.assessor.lacounty.gov/"  target="_blank">
                <div class="card-img bg-4">
       
                    <ion class="fas fa-city c-5"></ion>
                </div>
                <p>@Localizer["PROPERTY ADDRESS SEARCH"]</p>
            </a>
        </div>


        <div class="col-md-3 col-sm-6 text-card bg-temp js--wp-4">
           
            <a asp-controller="Home" asp-action="SelfService">
                <div class="card-img bg-temp">

                    <ion class="far fa-user c-1"></ion>
                    @*<ion class="far fa-edit c-1"></ion>*@
                    @*<ion class="far fa-user c-1"></ion>*@
                    @*<ion class="fas fa-user-check c-1"></ion>*@
                    @*<ion class="fas fa-hand-point-down c-1"></ion>*@
                </div>
                <p>@Localizer["Self-Service Options"]</p>

            </a>

        </div>
    </div>
</section>
@*<section class="container-fluid section-cards">
    <div class="row">



        <div class="col-lg-2 col-md-6 text-card bg-1 js--wp-5">
            <a href=" https://ttc.lacounty.gov/pay-your-property-taxes/" target="_blank">
                <div class="card-img bg-1">
                  
                    <ion class="fas fa-dollar-sign c-2"></ion>
                </div>
                <p>@Localizer["Pay Property </br> Taxes"]</p>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 text-card bg-2 js--wp-6">
            <a href="https://ttc.lacounty.gov/property-tax-management-system/" target="_blank">
                <div class="card-img bg-2">
                   
                    <ion class="fas fa-tasks c-3"></ion>
                </div>
                <p>@Localizer["PROPERTY TAX MANAGEMENT SYSTEM"]</p>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 text-card bg-3 js--wp-7">
            <a href="https://assessor.lacounty.gov/change-mailing-address/" target="_blank">
                <div class="card-img bg-3">
                   

                    <ion class="far fa-envelope-open c-4"></ion>
                </div>
                <p>@Localizer["Change Mailing Address"]</p>
            </a>
        </div>
        <div class="col-lg-2 col-md-6 text-card bg-4 js--wp-10">
            <a href="https://portal.assessor.lacounty.gov/" target="_blank">
                <div class="card-img bg-4">
                   
                    <ion class="fas fa-city c-5"></ion>
                </div>
                <p>@Localizer["PROPERTY ADDRESS SEARCH"]</p>
            </a>
        </div>


        <div class="col-lg-2 col-md-6 text-card bg-temp js--wp-4">
           
            <a asp-controller="Home" asp-action="Overview" asp-route-id="2">
                <div class="card-img bg-temp">
                   
                    <ion class="fas fa-user-friends c-1"></ion>
                </div>
                <p>@Localizer["Areas of Responsibility"]</p>

            </a>

        </div>
        <div class="col-lg-2 col-md-6 text-card js--wp-11" style="background-color: #a1c4cf">
           
            <a asp-controller="Home" asp-action="Overview" asp-route-id="2">
                <div class="card-img "style="background-color: #a1c4cf">
              
                    <ion class="fas fa-gas-pump c-6"></ion>
                </div>
                <p>@Localizer["Self-Service"]</p>

            </a>

        </div>
    </div>
</section>*@
<style>
    body {
        background-image: linear-gradient(rgba(1, 21, 37, 0.45), rgba(1, 21, 37, 0.45)), url('../images/bg-8.jpg');
        /*background-image: linear-gradient(rgba(148, 166, 212, 0.2), rgba(148, 166, 212, 0.2)), url('../images/bg-8.jpg');*/
    }
</style>

