@model PropertyTaxPortal.Models.News
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "PublicInquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer Localizer

<section class="container-fluid bg-header bg-news">
    <h2 class="display-4" role="heading" aria-level="2">@Localizer["NEWS & ANNOUNCEMENTS"]</h2>
</section>
<section class="news-title p-3">
    <h4 class="">@Localizer[@Html.Raw(@Model.Title).ToString()]</h4>
</section>

<section class="news">
    <div class="container news-area mt-4">
        <p>@Localizer[@Html.Raw(@Model.Body).ToString()]</p>
    </div>
    
</section>



