@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Notice of Delinquency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["NOTICE OF DELINQUENCY"]</h2>
</section>

<section class="tax-content container my-4">

    <img class="" src="~/images/Tax-Bills/nod2016.gif" alt="Notice of Delinquency" usemap="#nod_Map">
    <map name="nod_Map">
        <area shape="circle" coords="462,979,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(16)">
        <area shape="circle" coords="560,894,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(15)">
        <area shape="circle" coords="607,746,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(14)">
        <area shape="circle" coords="419,746,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(13)">
        <area shape="circle" coords="231,745,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(12)">
        <area shape="circle" coords="606,675,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)">
        <area shape="circle" coords="418,675,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)">
        <area shape="circle" coords="229,674,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)">
        <area shape="circle" coords="655,601,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)">
        <area shape="circle" coords="309,589,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)">
        <area shape="circle" coords="118,416,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)">
        <area shape="circle" coords="93,319,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)">
        <area shape="circle" coords="516,170,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)">
        <area shape="circle" coords="45,224,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)">
        <area shape="circle" coords="28,153,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)">
        <area shape="circle" coords="221,112,15" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>
                    @Localizer["Notice of Delinquency"]
                </strong> - @Localizer["The Notice of Delinquency, in accordance with California Revenue"]
                @Localizer["and Taxation Code, Section 2621, reminds taxpayers that their property taxes are delinquent and will default on"]
                @Localizer["July 1.  If payment is not received or United States Postal Service (USPS) postmarked by June 30, on July 1, a $15"]
                @Localizer["redemption fee will be imposed and defaulted taxes will be subject to additional penalties of 1.5 percent per month."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>
                    @Localizer["Assessor's Identification Number"]
                </strong> - @Localizer["This area identifies the Assessor’s Identification Number (1234-567-890).  The Assessor’s"]
                @Localizer["Identification Number (AIN) is a ten-digit number assigned by the Office of the Assessor to each piece of real"]
                @Localizer["property in Los Angeles County.  This ten-digit AIN is made up of a four-digit Map Book Number (1234), a three-digit"]
                @Localizer["Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>
                    @Localizer["Assessee"]
                </strong> - @Localizer["The owner of record and the mailing address on file with the Office of the"]
                @Localizer["Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p>
                <strong>@Localizer["Treasurer and Tax Collector"]
                    </strong> - @Localizer["Name, address, telephone number, and website of the Los"]
                @Localizer["Angeles County Treasurer and Tax Collector."]
            </p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>
                    @Localizer["Property Location and/or Property Description"]
                </strong> - @Localizer["The property address and/or legal"]
                @Localizer["description on record with the Office of the Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>
                    @Localizer["Special Information"]
                </strong> - @Localizer["This section provides important information about the bill"]
                @Localizer["and states whether there are any delinquent taxes owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>
                    @Localizer["Assessor’s Identification Number"]
                </strong> - @Localizer["This area identifies the Assessor’s Identification"]
                @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the"]
                @Localizer["Office of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a"]
                @Localizer["four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>
                    @Localizer["Personal Identification Number (PIN)"]
                </strong> – @Localizer["This number is required to make an online eCheck payment for"]
                @Localizer["current year and defaulted property taxes.  Effective with tax bills issued after August 2013, the PIN may"]
                @Localizer["contain all alpha, all numeric, or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The"]
                @Localizer["'0' is always a number zero."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>
                    @Localizer["1st Installment Due"]
                </strong> - @Localizer["Amount of taxes due for the first installment.  Taxpayers"]
                @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
                @Localizer["with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p>
                <strong>
                    @Localizer["2nd Installment Due"]
                </strong> - @Localizer["Amount of taxes due for the second installment.  Taxpayers"]
                @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
                @Localizer["with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p>
                <strong>
                    @Localizer["Total Tax Due"]
                </strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
                @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
                @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty "]
                @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
                @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
                @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
                @Localizer["Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p>
                <strong>@Localizer["1st Installment Amount Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment"]
                @Localizer["must be received or United States Postal Service (USPS) postmarked by this date.  If paying in installments, the"]
                @Localizer["first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]              
            </p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p>
                <strong>
                    @Localizer["2nd Installment Amount Delinquency Date"]
                </strong> - @Localizer["If paying the bill in installments, "]
                @Localizer["the second installment must be received or United States Postal Service postmarked by this date, or a 10 percent"]
                @Localizer["penalty and a $10.00 cost will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p>
                <strong>@Localizer["Total Taxes Due"]</strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
                @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
                @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty"]
                @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
                @Localizer["not received or USPS."]
            </p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>
                    @Localizer["Remit Amount"]
                </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated"]
                @Localizer["here.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the"]
                @Localizer["Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p>
                <strong>
                    @Localizer["Make Check(s) Payable"]
                </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and"]
                @Localizer["mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
                @Localizer["and the Year/Sequence Number on the check."]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Notice of Delinquency"]
            </strong> - @Localizer["The Notice of Delinquency, in accordance with California Revenue"]
            @Localizer["and Taxation Code, Section 2621, reminds taxpayers that their property taxes are delinquent and will default on"]
            @Localizer["July 1.  If payment is not received or United States Postal Service (USPS) postmarked by June 30, on July 1, a $15"]
            @Localizer["redemption fee will be imposed and defaulted taxes will be subject to additional penalties of 1.5 percent per month."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Assessor's Identification Number"]
            </strong> - @Localizer["This area identifies the Assessor’s Identification Number (1234-567-890).  The Assessor’s"]
            @Localizer["Identification Number (AIN) is a ten-digit number assigned by the Office of the Assessor to each piece of real"]
            @Localizer["property in Los Angeles County.  This ten-digit AIN is made up of a four-digit Map Book Number (1234), a three-digit"]
            @Localizer["Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Assessee"]
            </strong> - @Localizer["The owner of record and the mailing address on file with the Office of the"]
            @Localizer["Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Treasurer and Tax Collector"]
            </strong> - @Localizer["Name, address, telephone number, and website of the Los"]
            @Localizer["Angeles County Treasurer and Tax Collector."]
        </p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Property Location and/or Property Description"]
            </strong> - @Localizer["The property address and/or legal"]
            @Localizer["description on record with the Office of the Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Special Information"]
            </strong> - @Localizer["This section provides important information about the bill"]
            @Localizer["and states whether there are any delinquent taxes owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Assessor’s Identification Number"]
            </strong> - @Localizer["This area identifies the Assessor’s Identification"]
            @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the"]
            @Localizer["Office of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a"]
            @Localizer["four-digit Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Personal Identification Number (PIN)"]
            </strong> – @Localizer["This number is required to make an online eCheck payment for"]
            @Localizer["current year and defaulted property taxes.  Effective with tax bills issued after August 2013, the PIN may"]
            @Localizer["contain all alpha, all numeric, or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The"]
            @Localizer["'0' is always a number zero."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["1st Installment Due"]
            </strong> - @Localizer["Amount of taxes due for the first installment.  Taxpayers"]
            @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
            @Localizer["with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["2nd Installment Due"]
            </strong> - @Localizer["Amount of taxes due for the second installment.  Taxpayers"]
            @Localizer["must be sure to include the payment stub with any type of payment and write their Assessor’s Identification Number"]
            @Localizer["with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Total Tax Due"]
            </strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
            @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
            @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty "]
            @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
            @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
            @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
            @Localizer["Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p>
            <strong>@Localizer["1st Installment Amount Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment"]
            @Localizer["must be received or United States Postal Service (USPS) postmarked by this date.  If paying in installments, the"]
            @Localizer["first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["2nd Installment Amount Delinquency Date"]
            </strong> - @Localizer["If paying the bill in installments, "]
            @Localizer["the second installment must be received or United States Postal Service postmarked by this date, or a 10 percent"]
            @Localizer["penalty and a $10.00 cost will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Taxes Due"]</strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
            @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
            @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty"]
            @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
            @Localizer["not received or USPS."]
        </p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Remit Amount"]
            </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated"]
            @Localizer["here.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the"]
            @Localizer["Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Make Check(s) Payable"]
            </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and"]
            @Localizer["mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
            @Localizer["and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>


