@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    <!-- .tab button {
    background-color: #343a40;
    float: none;
    outline: 1px;
    border-right-color: white;
    border-top-color: #343a40;
    cursor: pointer;
    padding: 16px 18px;
    transition: 0.3s;
    font-size: 17px;
    border-left: 1px;
    color: white;
    position: relative; -->
}
</style>
<section class="container-fluid section-header-overview">
    <h2 class="display-4"> @Localizer["OVERVIEW"] </h2>
</section>
<section class="tab-background" id="js--tab">
    <div class="tab container">
        <div class="row">
            @if (ViewBag.id == 0)
            {
                <button class="col-md-4 col-sm-12 tablinks" id="defaultOpen" onclick="openContent(event, 'Overview')">@Localizer["Property Tax Overview"]</button>
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'HowItWorks')">@Localizer["How The Property Tax System Works"]</button>
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'AreasRespons')">@Localizer["Areas of Responsibility"]</button>
            }

            else if (ViewBag.id == 1)
            {
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'Overview')">@Localizer["Property Tax Overview"]</button>
                <button class="col-md-4 col-sm-12 tablinks" id="defaultOpen" onclick="openContent(event, 'HowItWorks')">@Localizer["How The Property Tax System Works"]</button>
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'AreasRespons')">@Localizer["Areas of Responsibility"]</button>
            }

            else if (ViewBag.id == 2)
            {
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'Overview')">@Localizer["Property Tax Overview"]</button>
                <button class="col-md-4 col-sm-12 tablinks" onclick="openContent(event, 'HowItWorks')">@Localizer["How The Property Tax System Works"]</button>
                <button class="col-md-4 col-sm-12 tablinks" id="defaultOpen" onclick="openContent(event, 'AreasRespons')">@Localizer["Areas of Responsibility"]</button>
            }

        </div>
    </div>
</section>

<div id="Overview" class="tabcontent active active-tab">
    <section class="pto-header">
        <div class="row text-center">
            <div class="col-md-6" >
                <img src="~/images/lacountymap-1.jpg" class="image-fluid center-block w-100"/>
            </div>
            <div class="col-md-6 pto-title" >
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 style="color:white;">@Localizer["PROPERTY TAX OVERVIEW"]</h1>
                <br />                        
                <p style="color:white; padding-left: 80px; padding-right:80px;">
                    @Localizer["The Assessor, Auditor-Controller, and Treasurer & Tax Collector work together to produce and account for your property tax bill and payment. The Assessment Appeals Board oversees the assessment process."]
                </p>
            </div>
        </div>
        <div style="height:25px; background-color:#343a40"></div>
                
            

        <!-- PTO department buttons -->
        <section class="container-fluid">
            <br />
            <ul class=" row nav nav-pills nav-justified">
                <!-- need media rules for mobile/tablet size -->
                
                <li class="nav-item col-md-4 col-sm-12" style="padding-left:25px; padding-right:20px">
                    <a href="#assessor" class="btn btn-lg active depbtn btn-block" role="tab" data-toggle="tab" >@Localizer["Assessor"]</a>   
                </li>
                <li class="nav-item  col-md-4 col-sm-12" style="padding-left:20px; padding-right:20px">
                    <a href="#auditor" class="btn btn-lg depbtn btn-block" role="tab" data-toggle="tab">@Localizer["Auditor-Controller"]</a>   
                </li>
                <li class="nav-item  col-md-4 col-sm-12" style="padding-left:20px; padding-right:25px">
                    <a href="#ttc" class="btn btn-lg depbtn btn-block" role="tab" data-toggle="tab">@Localizer["Treasurer & Tax Collector"]</a>   
                </li>
                <li class="nav-item col-md-4 col-sm-12" style="padding-left:20px; padding-right:20px">
                    <a href="#aab" class="btn btn-lg depbtn btn-block" role="tab" data-toggle="tab">@Localizer["Assessment Appeals Board"]</a>   
                </li>
            </ul>
            <br />

            <!-- Department Information Container --> 
            <section class="pto-dept-container tab-content">
                <div role="tabpanel" class="tab-pane active" id="assessor">
                    <div class="row">
                        <div class="col" >
                            <br />
                            <h4 style="padding-left: 70px">@Localizer["Assessor"]</h4>
                            <br />
                            <p style="padding-left: 70px">@Localizer["The Los Angeles County Assessor establishes the assessed value of your property by appraising the value of that property under applicable State laws. The assessed value is then placed on a list with all other properties in Los Angeles County and this list is called the \"Assessment Roll.\" The Assessor also approves and applies all exemptions, which are added to the Assessment Roll. The Assessment Roll is then presented to the Los Angeles County Auditor-Controller for further processing."]</p>
                        </div>
                        <div class="col" align="center">
                            <br />
                            <img src="~/images/assessor.png" class="img-responsive" alt="screen"/>
                        </div>
                        
                    </div>
                    <br />
                    <br />                     
                </div>

                <div role="tabpanel" class="tab-pane " id="aab">
                    <div class="row">
                        <div class="col">
                            <br />
                            <h4 style="padding-left: 70px">@Localizer["Assessment Appeals Board"]</h4>
                            <br />
                            <p style="padding-left: 70px">@Localizer["The Assessor, Auditor-Controller, and Treasurer & Tax Collector work together to produce and account for your property tax bill and payment. The Assessment Appeals Board oversees the assessment process."]</p>
                        </div>
                        <div class="col" align="center">
                            <br />
                            <img src="~/images/aapb.png" class="img-responsive" alt="screen"/>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>

                <div role="tabpanel" class="tab-pane " id="auditor">
                    <div class="row">
                        <div class="col">
                            <br />
                            <h4 style="padding-left: 70px">@Localizer["Auditor-Controller"]</h4>
                            <br />
                            <p style="padding-left: 70px">@Localizer["The Los Angeles County Auditor-Controller adds direct assessments to the Assessment Roll then applies the tax rates, which consists of general (1%) levy and debt service (voter & bonded) tax rates to the value to create an Extended Assessment Roll. The Extended Roll is then sent to the Los Angeles County Treasurer and Tax Collector for individual tax bill distribution and payment collection."]</p>
                        </div>
                        <div class="col" align="center">
                            <br />
                            <img src="~/images/audcont-icon.png" class="img-responsive" alt="screen"/>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>

                <div role="tabpanel" class="tab-pane " id="ttc">
                    <div class="row">
                        <div class="col">
                            <br />
                            <h4 style="padding-left: 70px">@Localizer["Treasurer & Tax Collector"]</h4>
                            <br />
                            <p style="padding-left: 70px">@Localizer["The Los Angeles County Treasurer and Tax Collector receives the Extended Roll, prints and mails the property tax bills to the name and address on the Extended Roll. The Treasurer and Tax Collector collects secured and unsecured taxes. Secured taxes are taxes on real property, such as vacant land, structures on land, i.e. business/office building, home, apartments, etc. Unsecured taxes are taxes on assessments such as office furniture, equipment, airplanes and boats, as well as property taxes that are not liens against the real property."]</p>
                        </div>
                        <div class="col" align="center">
                            <br />
                            <img src="~/images/ttc-icon.png" class="img-responsive" alt="screen"/>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </section>
    </section>
</div>
<div id="HowItWorks" class="tabcontent" style="display:none; background: #F5F5F5;">
    
    <div class="center">
        <img src="~/images/ptp-overview-landscape.png" class="image-fluid mx-auto d-block"/>
    </div>
    <br /> 

</div>
<div id="AreasRespons" class="tabcontent" style="display:none">
    <div class="row text-center">
        <div class="col-md-6" style="padding-right:0">
            <img src="~/images/areas_respons.jpg" class="container-fluid center-block w-100 p-0" />
        </div>
        <div class="col-md-6 pto-title" >                
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 style="color:white; ">@Localizer["AREAS OF RESPONSIBILITY"]</h1>
            <br />
            <p style="color:white; padding-left: 80px; padding-right:80px;">
                @Localizer["The following lists may help you to determine which department can assist in answering your inquiry."]
            </p>
        </div>
    </div>
    <div style="height:25px; background-color:#343a40"></div>
    <br />

    <!-- Dropdown Container -->
    <div class="container justify-content-center" id="accordion" role="tablist" aria-multiselectable="true">

        <!-- Assessor Card (213)974-3211 -->
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="card w-100 max-auto collapsed d-block">
            <h5 class="card-header w-100 text-center" role="tab" id="headingOne">
                 @Localizer["Assessor"]
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed d-block" style="float:right">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h5>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    <div class="row">
                        <div class="list-group col">
                            <a href="https://assessor.lacounty.gov/your-property-taxes/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Assessed Values"]</a>
                            <a href="https://assessor.lacounty.gov/boats-and-aircraft/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Boats & Aircraft"]</a>
                            <a href="https://assessor.lacounty.gov/personal-property-assessments-2/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Business Property Taxes"]</a>
                            <a href="https://assessor.lacounty.gov/your-property-taxes/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Change in Ownership"]</a>
                            <a href="https://assessor.lacounty.gov/decline-in-value/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Decline in Value"]</a>
                            <a href="https://assessor.lacounty.gov/exclusions-tax-relief/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Exemptions - General"]</a>
                        </div>
                        <div class="list-group col">
                            <a href="https://assessor.lacounty.gov/exclusions-tax-relief/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Homeowner's Exemption"]</a>
                            <a href="https://assessor.lacounty.gov/contact-the-assessor/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Name/Address Change"]</a>
                            <a href="https://assessor.lacounty.gov/proposition-58-and-proposition-193/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Parent/Child Transfers (Proposition 58)"]</a>
                            <a href="http://maps.assessor.lacounty.gov/GVH_2_2/Index.html?configBase=http://maps.assessor.lacounty.gov/Geocortex/Essentials/REST/sites/PAIS/viewers/PAIS_hv/virtualdirectory/Resources/Config/Default" target="_blank" class="list-group-item list-group-item-action">@Localizer["Property Maps & Data"]</a>
                            <a href="https://assessor.lacounty.gov/propositions-60-and-90/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Senior Citizen Transfer (Proposition 60 and 90)"]</a>
                            <a href="https://assessor.lacounty.gov/your-property-taxes/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Supplemental Bills"]</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <br />

        <!-- Auditor-Controller (213)974-8368 Card -->
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="card w-100 max-auto collapsed d-block">
            <h5 class="card-header w-100 text-center" role="tab" id="headingTwo">
                @Localizer["Auditor-Controller"]
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="float:right">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h5>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    <div class="list-group">
                        <a href="http://auditor.lacounty.gov/direct-assessments/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Direct Assessments"]</a>
                        <a href="http://auditor.lacounty.gov/bwl-advanced-faq/what-is-a-general-tax-levy/" target="_blank" class="list-group-item list-group-item-action">@Localizer["General Tax Levy"]</a>
                        <a href="http://auditor.lacounty.gov/bwl-advanced-faq/what-should-i-do-if-im-expecting-a-refund/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Refunds - Change in Taxes Due to an Assessor Value Change"]</a>
                        <a href="http://auditor.lacounty.gov/special-districts/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Special Districts"]</a>
                        <a href="http://auditor.lacounty.gov/tax-rate-area-lookup/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Tax Rate Areas"]</a>
                        <a href="http://auditor.lacounty.gov/forms-important-dates-glossary/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Voted Indebtedness"]</a>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!-- Assessment Appeals Board (213)974-1471 Card -->
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="card w-100 max-auto collapsed d-block">
            <h5 class="card-header w-100 text-center" role="tab" id="headingThree">
                @Localizer["Assessment Appeals Board"]
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="float:right">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h5>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-body">
                    <div class="list-group">
                        <a href="http://bos.lacounty.gov/LinkClick.aspx?fileticket=mMxNSn6isUw=&portalid=1" target="_blank" class="list-group-item list-group-item-action">@Localizer["Assessment Appeals Rules"]</a>
                        <a href="http://bos.lacounty.gov/Services/Assessment-Appeals/Public-Education-Program" target="_blank" class="list-group-item list-group-item-action">@Localizer["Current Seminer Schedule"]</a>
                        <a href="http://bos.lacounty.gov/LinkClick.aspx?fileticket=YKbs6W6cIQw=&portalid=1" target="_blank" class="list-group-item list-group-item-action">@Localizer["How to Prepare For Your Hearing"]</a>
                        <a href="http://bos.lacounty.gov/Services/Assessment-Appeals/Tax-Agent-Registration" target="_blank" class="list-group-item list-group-item-action">@Localizer["Tax Agent Registration"]</a> 
                        <a href="https://lacaab.lacounty.gov/Home.aspx" target="_blank" class="list-group-item list-group-item-action">@Localizer["File an Appeal Online"]</a>                         
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!-- Treasurer & Tax Collector - Secured Taxes  (213)974-2111 Card -->
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="card w-100 max-auto collapsed d-block">
            <h5 class="card-header w-100 text-center" role="tab" id="headingFour">
                @Localizer["Treasurer & Tax Collector - Secured Taxes"]
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="float:right">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h5>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="card-body">
                    <div class="row">
                        <div class="list-group col">
                            <a href="https://ttc.lacounty.gov/property-tax-installment-plans/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Delinquent Taxes"]</a>
                            <a href="https://ttc.lacounty.gov/secured-property-taxes-general-information/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Due Dates"]</a>
                            <a href="https://ttc.lacounty.gov/secured-property-taxes-general-information/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Payment Amounts"]</a>
                            <a href="https://ttc.lacounty.gov/secured-property-taxes-general-information/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Payment Posting"]</a>
                            <a href="https://ttc.lacounty.gov/schedule-of-upcoming-auctions/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Public Auction"]</a>                            
                        </div>
                        <div class="list-group col">
                            <!-- this directs to an FAQ - is that still ok? -->
                            <a href="http://lacountypropertytax.com/portal/list/faq.aspx?faqID=56" target="_blank" class="list-group-item list-group-item-action">@Localizer["Refunds - Overpayment of Taxes Due (Non Value Related)"]</a>
                            <a href="https://ttc.lacounty.gov/secured-property-taxes-frequently-asked-questions/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Senior Citizen, Blind & Disabled Persons Tax Postponement & Assistance Programs"]</a>
                            <a href="https://ttc.lacounty.gov/secured-property-taxes-general-information/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Tax Bills (Secured)"]</a>
                            <a href="https://ttc.lacounty.gov/auction-general-information/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Tax Defaulted Properties"]</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <!-- Treasurer & Tax Collector - Unsecured Taxes  (213)893-7935 Card -->
        <div data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="card w-100 max-auto collapsed d-block">
            <h5 class="card-header w-100 text-center" role="tab" id="headingFive">
                @Localizer["Treasurer & Tax Collector - Unsecured Taxes"]
                <a class="collapsed d-block" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style="float:right">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
            </h5>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="card-body">
                    <div class="row">
                        <div class="list-group col">
                            <!-- this directs to an FAQ - is that still ok? -->                          
                            <a href="http://lacountypropertytax.com/portal/list/faq.aspx?faqID=51" target="_blank" class="list-group-item list-group-item-action">@Localizer["Liens"]</a>
                            <!-- this directs to an FAQ - is that still ok? -->
                            <a href="http://lacountypropertytax.com/portal/list/faq.aspx?faqID=69" target="_blank" class="list-group-item list-group-item-action">@Localizer["Mobile Home Tax Clearance"]</a>
                            <a href="https://ttc.lacounty.gov/unsecured-property-taxes/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Payments"]</a>                                                        
                        </div>
                        <div class="list-group col">
                            <!-- this directs to an FAQ - is that still ok? -->                           
                            <a href="http://lacountypropertytax.com/portal/list/faq.aspx?faqID=56" target="_blank" class="list-group-item list-group-item-action">@Localizer["Refunds - Overpayment of Taxes Due (Non Value Related)"]</a>
                            <a href="https://ttc.lacounty.gov/unsecured-property-taxes-frequently-asked-questions/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Tax Bills (Unsecured)"]</a>
                            <a href="https://ttc.lacounty.gov/unsecured-property-taxes/" target="_blank" class="list-group-item list-group-item-action">@Localizer["Unsecured Due Dates"]</a>                                                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>
    <br />
</div>

<script>
    function openContent(evt, TabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tabcontent.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(TabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>




