@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Payment Activity Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["Payment Activity Notice"]</h2>
</section>

<!-- user instructions -->
<div class="container">
    <br />
    <div class="row border rounded shadow-sm">
        <p style="font-weight: bold;font-style: italic; padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em;">@Localizer["Please click on any number to view the description of the bill component. You may also scroll down to the bottom of the page to view a complete list of field descriptions."]</p>
    </div>
    <br />
</div>

<section class="tax-content container my-4">

    <img src="~/images/Tax-Bills/pmtNotice2016.gif" alt="Payment Activity Notice" usemap="#PaymentNotice_Map">
    <map name="PaymentNotice_Map">
        <area shape="circle" coords="459,1026,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(21)">
        <area shape="circle" coords="614,955,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(20)">
        <area shape="circle" coords="477,935,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(19)">
        <area shape="circle" coords="459,710,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(18)">
        <area shape="circle" coords="223,728,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(17)">
        <area shape="circle" coords="613,639,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(16)">
        <area shape="circle" coords="477,615,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(15)">
        <area shape="circle" coords="224,530,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(14)">
        <area shape="circle" coords="549,502,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(13)">
        <area shape="circle" coords="443,467,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(12)">
        <area shape="circle" coords="551,422,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)">
        <area shape="circle" coords="415,422,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)">
        <area shape="circle" coords="282,422,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)">
        <area shape="circle" coords="749,428,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)">
        <area shape="circle" coords="684,313,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)">
        <area shape="circle" coords="73,318,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)">
        <area shape="circle" coords="580,227,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)">
        <area shape="circle" coords="36,229,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)">
        <area shape="circle" coords="829,181,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)">
        <area shape="circle" coords="36,162,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)">
        <area shape="circle" coords="224,36,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Payment Activity Notice"]</strong> - @Localizer["The Payment Activity Notice alerts taxpayers that our records"]
                @Localizer["reflect a penalty was imposed on the first installment of their property tax bill.  The penalty was imposed for one"]
                @Localizer["or more of the following reasons: no payment was received, a partial payment was received, or the first installment"]
                @Localizer["payment was received after the delinquency date."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number"]
                @Localizer["– (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office of the"]
                @Localizer["Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit Map"]
                @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit card/Visa"]
                @Localizer["Debit card payments over the telephone.  To initiate a credit card/Visa Debit card payment, please call 1(888) 473-0835."]
                @Localizer["However, there are processing fees when paying by credit card/Visa Debit card.  Each transaction is limited to $99,999.99."]
                @Localizer["The PIN number is used to make electronic check payment to protect your security and privacy and is used to pay your current"]
                @Localizer["year and defaulted taxes online.  Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric,"]
                @Localizer["or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The '0' is always a number zero."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor."]</p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
                @Localizer["and states whether there are any delinquent taxes owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification"]
                @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office"]
                @Localizer["of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit"]
                @Localizer["Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Total Taxes Due"]</strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
                @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
                @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty"]
                @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
                @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
                @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
                @Localizer["Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Returned Check Charge"]</strong> – @Localizer["There is a $50.00 charge for"]
                @Localizer["any checks returned by the bank."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p><strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]</p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p>
                <strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["his is the Assessor’s valuation of the property prior to"]
                @Localizer["the recent transfer/new construction date."]
            </p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p><strong>@Localizer["Taxable Value"]</strong> - @Localizer["The current assessed value less the prior assessed value, if any."]</p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer[" The difference between the current value and exemptions."]</p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p>
                <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the"]
                @Localizer["bill and states whether there are any delinquent taxes owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>@Localizer["2nd Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in installments"]
                @Localizer["the second installment must be received or United States Postal Service postmarked by this date, or a 10"]
                @Localizer["percent penalty and a $10.00 cost will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p>
                <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment."]
                @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor’s"]
                @Localizer["Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>17</div>
            <p>
                <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount"]
                @Localizer["stated here.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
                @Localizer["and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>18</div>
            <p>
                <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector"]
                @Localizer["and mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification"]
                @Localizer["Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>19</div>
            <p>
                <strong>@Localizer["1st Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment must"]
                @Localizer["be received or United States Postal Service (USPS) postmarked by this date.  If paying in installments, the first"]
                @Localizer["installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>20</div>
            <p>
                <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated"]
                @Localizer["here.Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the"]
                @Localizer["Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>21</div>
            <p>
                <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and"]
                @Localizer["mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
                @Localizer["and the Year/Sequence Number on the check."]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Payment Activity Notice"]</strong> - @Localizer["The Payment Activity Notice alerts taxpayers that our records"]
            @Localizer["reflect a penalty was imposed on the first installment of their property tax bill.  The penalty was imposed for one"]
            @Localizer["or more of the following reasons: no payment was received, a partial payment was received, or the first installment"]
            @Localizer["payment was received after the delinquency date."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number"]
            @Localizer["– (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office of the"]
            @Localizer["Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit Map"]
            @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit card/Visa"]
            @Localizer["Debit card payments over the telephone.  To initiate a credit card/Visa Debit card payment, please call 1(888) 473-0835."]
            @Localizer["However, there are processing fees when paying by credit card/Visa Debit card.  Each transaction is limited to $99,999.99."]
            @Localizer["The PIN number is used to make electronic check payment to protect your security and privacy and is used to pay your current"]
            @Localizer["year and defaulted taxes online.  Effective with tax bills issued after August 2013, the PIN may contain all alpha, all numeric,"]
            @Localizer["or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN.  The '0' is always a number zero."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor."]</p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
            @Localizer["and states whether there are any delinquent taxes owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification"]
            @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office"]
            @Localizer["of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit"]
            @Localizer["Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Taxes Due"]</strong> - @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
            @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
            @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10 percent penalty"]
            @Localizer["will be imposed.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
            @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
            @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
            @Localizer["Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Returned Check Charge"]</strong> – @Localizer["There is a $50.00 charge for"]
            @Localizer["any checks returned by the bank."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p><strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]</p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p>
            <strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["his is the Assessor’s valuation of the property prior to"]
            @Localizer["the recent transfer/new construction date."]
        </p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <div class="bill-step">
            <p><strong>@Localizer["Taxable Value"]</strong> - @Localizer["The current assessed value less the prior assessed value, if any."]</p>
        </div>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer[" The difference between the current value and exemptions."]</p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p>
            <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the"]
            @Localizer["bill and states whether there are any delinquent taxes owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in installments"]
            @Localizer["the second installment must be received or United States Postal Service postmarked by this date, or a 10"]
            @Localizer["percent penalty and a $10.00 cost will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment."]
            @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor’s"]
            @Localizer["Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div17">
    <div class="float-content">
        <p>
            <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount"]
            @Localizer["stated here.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
            @Localizer["and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div18">
    <div class="float-content">
        <p>
            <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector"]
            @Localizer["and mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification"]
            @Localizer["Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div19">
    <div class="float-content">
        <p>
            <strong>@Localizer["1st Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in full, payment must"]
            @Localizer["be received or United States Postal Service (USPS) postmarked by this date.  If paying in installments, the first"]
            @Localizer["installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div20">
    <div class="float-content">
        <p>
            <strong>@Localizer["Remit Amount"]</strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated"]
            @Localizer["here.Include the payment stub(s) with the payment and write the Assessor’s Identification Number and the"]
            @Localizer["Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div21">
    <div class="float-content">
        <p>
            <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and"]
            @Localizer["mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification Number"]
            @Localizer["and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>





