@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-disclaimer">
    <h2 class="display-4"> @Localizer[@ViewBag.Title] </h2>
</section>
<br />
<br />
<section class="container">
    <p>
        @Localizer["The Board of Supervisors of Los Angeles County recognizes the public’s concern about privacy on the Internet. This privacy statement establishes how information gathered about you from your visit to our website will be used by this website’s operators. As a visitor, however, you should be aware that much information submitted to Los Angeles County is public information under the laws of the State of California. Under some circumstances, we may be required to disclose such information in accordance with the California Public Records Act or other legal requirements."]
    </p>
    <br />
    <p>@Localizer["The following describes how information may be collected depending on your activities at this website:"]</p>
    <br />
    <h6 style="font-weight: 600">@Localizer["If you read or download information:"]</h6>
    <p>
        @Localizer["We may collect and store information for statistical purposes. For example, we may count the number of visitors to the different sections of our site to help us make them more useful. The information collected may include such items as the name and domain of the host from which you access the Internet, the Internet Protocol (IP) address of the computer you are using or your browser software and operating system. This information does not identify you personally."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["If you send E-mail to this website:"]
    </h6>
    <p>
        @Localizer["By sending us an electronic mail message, you may be sending us personal information (i.e., your name, address, e-mail address, etc.). We may store the name and address of the requester in order to respond to the request or otherwise resolve the subject matter of your e-mail."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["If you register with a County Department or agency or request other specific information:"]
    </h6>
    <p>
        @Localizer["Some County department or agency websites may ask visitors who request specific information to fill out a registration form. For example, vendors requesting access to Requests for Bids, Requests for Proposals or homeowners or businesses requesting Permits, may be asked to provide their names, addresses, e-mail addresses and other pertinent information to ensure we can process and deliver the information requested. Other information may be collected at these sites through questionnaires, feedback forms, or other means, to enable us to determine a visitor’s interests, with the goal of providing better service."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["Links to Non-Los Angeles County (Third Party) Websites"]
    </h6>
    <p>
        @Localizer["Our website also contains links to information located on websites maintained by other public agencies and private organizations. Once you access an individual document that links you to another website, you are subject to the privacy policy of the website containing that document."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["About Cookies"]
    </h6>
    <p>
        @Localizer["A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server."]
    </p>
    <p>
        @Localizer["Cookies may be either \"persistent\" cookies or \"session\" cookies. A persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed."]
    </p>
    <p>
        @Localizer["Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["Cookies We Use"]
    </h6>
    <p>
        @Localizer["When your browser or device allows it, we use both session cookies and persistent cookies to better understand how you interact with our services, to monitor aggregate usage patterns, and to personalize and otherwise operate our services."]
    </p>
    <p>
        @Localizer["We also use cookies for the following purposes:"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. authentication - to identify you when you visit our website and as you navigate our website;"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. status - to help us to determine if you are logged into our website;"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. personalization - to store information about your preferences and to personalize our website for you;"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. security - as an element of the security measures used to protect user accounts, including preventing fraudulent use of login credentials and to protect our website and services generally;"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. advertising - to help us display advertisements that will be relevant to you;"]
        @Localizer["<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;f. analysis - to help us analyze the use and performance of our website and services."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["Cookies Used by Our Third-Party Providers"]
    </h6>
    <p>
        @Localizer["Our service providers use cookies and those cookies may be stored on your computer when you visit our Service."]
    </p>
    <p>
        @Localizer["We use Google Analytics to analyze the use of our website. Google Analytics gathers information about website use by means of cookies. The information gathered relating to our website is used to create reports about the use of our website."]
    </p>
    <p>
        @Localizer["We, and other third parties we work with, place cookies when you visit the Services and when you open emails that we send you in order to provide you more specific content about services we or our third-party providers offer. For instance, we publish Google AdSense advertisements on our website. To determine your interests, Google will track your behavior on our website and on other websites across the web using cookies."]
    </p>
    <br />
    <h6 style="font-weight: 600">
        @Localizer["Managing Cookies"]
    </h6>
    <p>
        @Localizer["Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser and from version to version. Please refer to your browser documentation on how to manage your cookies."]
    </p>
    <p>
        @Localizer["Blocking all or some cookies may have a negative impact upon the usability of the Services."]
    </p>
    <br />
    <br />
</section>