@model PropertyTaxPortal.Models.PublicInquiryViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "PublicInquiryThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../js/jquery-1.7.1.js" type="text/javascript"></script>
<script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../lib/bootstrap/dis/css/bootstrap.css" type="text/javascript"></script>

<section class="container-fluid bg-header bg-public">
    <h2 class="display-4">@Localizer["PUBLIC INQUIRY FORM"]</h2>
</section>

<div style="height: 100vh; background-color: #fff">
    <div class="container section-form text-left">
        <br />
        <div class="row">
            <div class="form-group col-sm-12 thankyou-text">
                @Localizer["Thank you for completing our Public Inquiry Form."]
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 thankyou-text">
                @Html.DisplayFor(model => model.responsibleDepartment)
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-12 thankyou-text">
                @Localizer["The Reference number for your inquiry is"] @Html.DisplayFor(model => model.emailTrackingCount).
            </div>
        </div>
        <br />
        <div class="form-group col-sm-12 thankyou-text">
            <blockquote>
                <p>
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.addressPhoneWebsite))
                </p>
            </blockquote>
            <br />
            <br />
            @Localizer["Los Angeles County"]
            <br />
            @Localizer["Property Tax Portal"]
        </div>
        <br />
        <br />
    </div>
</div>