@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "SelfService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="text-center my-4">
    <p><a href="https://ttc.lacounty.gov/new-property-owner/ " target="_blank" aria-label="newpropertyowners">@Localizer["New Property Owner Information "]</a></p>
    <p><a href="https://ttc.lacounty.gov/penalty-cancellation-request-2/ " target="_blank" aria-label="penalaltycancelreq2">@Localizer["Penalty Cancellation Requests "]</a></p>
    <p><a href="https://ttc.lacounty.gov/property-tax-installment-plans/ " target="_blank" aria-label="propertytaxinstallment">@Localizer["Property Tax Installment Plans"]</a></p>
    <p><a href="https://ttc.lacounty.gov/property-tax-payment-history/ " target="_blank" aria-label="propertytaxpaymenthistory">@Localizer["Property Tax Payment History "]</a></p>
    <p><a href="https://ttc.lacounty.gov/request-duplicate-bill/ " target="_blank" aria-label="duplicatebill">@Localizer["Request Duplicate Bill "]</a></p>
    <p><a href="https://ttc.lacounty.gov/senior-citizen-property-tax-assistance/ " target="_blank" aria-label="seniorcitizenpropertytax">@Localizer["Senior Citizen Property Tax Assistance "]</a></p>
</div>



