@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Statement of Prior Year Taxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["Statement of Prior Year Taxes"]</h2>
</section>

<!-- user instructions -->
<div class="container">
    <br />
    <div class="row border rounded shadow-sm">
        <p style="font-weight: bold;font-style: italic; padding-left: 1.5em; padding-top: 0.5em; padding-bottom: 0.5em;">@Localizer["Please click on any number to view the description of the bill component. You may also scroll down to the bottom of the page to view a complete list of field descriptions."]</p>
    </div>
    <br />
</div>

<section class="tax-content container my-4">

    <img src="~/images/Tax-Bills/stmtprior2016.gif" alt="Statement of Prior Year Taxes" usemap="#StmtPriorYrTax_Map">
    <map name="StmtPriorYrTax_Map">
        <area shape="circle" coords="417,1017,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(16)">
        <area shape="circle" coords="424,945,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(15)">
        <area shape="circle" coords="219,810,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(14)">
        <area shape="circle" coords="759,584,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(13)">
        <area shape="circle" coords="469,583,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(12)">
        <area shape="circle" coords="469,522,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)">
        <area shape="circle" coords="756,493,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)">
        <area shape="circle" coords="775,458,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)">
        <area shape="circle" coords="839,441,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)">
        <area shape="circle" coords="342,451,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)">
        <area shape="circle" coords="19,270,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)">
        <area shape="circle" coords="271,186,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)">
        <area shape="circle" coords="548,98,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)">
        <area shape="circle" coords="277,97,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)">
        <area shape="circle" coords="90,109,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)">
        <area shape="circle" coords="301,61,18" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Statement of Prior Year Taxes"]</strong> - @Localizer["The Statement of Prior Year Taxes is an accounting of"]
                @Localizer["all charges and penalties for defaulted taxes incurred to date.  The statement itemizes the year(s) of defaulted"]
                @Localizer["taxes, a 10 percent penalty and $10 cost for each year of default, a 1.5 percent redemption penalty per month on"]
                @Localizer["the total unpaid tax amount due, and a $15 redemption fee."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification"]
                @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office"]
                @Localizer["of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit"]
                @Localizer["Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["PIN"]</strong> - @Localizer["The PIN number is used to make electronic check payment to protect your security and"]
                @Localizer["privacy and is used to pay your current year and defaulted taxes online.  Effective with tax bills issued after August 2013,"]
                @Localizer["the PIN may contain all alpha, all numeric, or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN."]
                @Localizer["The '0' is always a number zero."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p>
                <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
                @Localizer["and states whether there are any delinquent taxes owed."]
            </p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office"]
                @Localizer["of the Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address and/or legal"]
                @Localizer["description on record with the Office of the Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Breakdown of Delinquent Taxes Owed"]</strong> - @Localizer["This section lists the Assessor’s Identification"]
                @Localizer["Number and the Year and Sequence Number by the year the property first defaulted.  Current year taxes are rolled"]
                @Localizer["or drawn off to the delinquent tax roll if they remain unpaid as of June 30 of each fiscal year (July 1 to June 30)."]
                @Localizer["D/O represents the drawn off date.  Taxes that are delinquent for five years become subject to the Tax Collector’s"]
                @Localizer["power to sell, and the property may be sold at a public auction."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Total Taxes Due"]</strong> – @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
                @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
                @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10% penalty"]
                @Localizer["will apply.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
                @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
                @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
                @Localizer["Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p><strong>@Localizer["Redemption Fee"]</strong> - @Localizer["A $15.00 fee is charged whenever a bill remains unpaid as of June 30."]</p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p><strong>@Localizer["Amount to Pay"]</strong> - @Localizer["The amount due, if paid by date, indicated on the statement."]</p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p>
                <strong>@Localizer["Additional Penalty Amount"]</strong> - @Localizer["The amount of penalty that is added monthly to the"]
                @Localizer["amount due if payment is not received by the date of the statement."]
            </p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p><strong>@Localizer["Regular Payments"]</strong> - @Localizer["This section shows any payments that have been received and posted."]</p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p>
                <strong>@Localizer["Additional Fees"]</strong> - @Localizer["Any fees that must be collected because the property has been"]
                @Localizer["deemed \"subject to the Tax Collector’s power to sell.\""]
            </p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any check returned by the bank."]</p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>@Localizer["Must be Received by"]</strong> - @Localizer["Payment must be received by the date indicated on the statement."]
                @Localizer["The postmark date for prior year taxes is not sufficient to stop accruing penalties."]
            </p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p>
                <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector"]
                @Localizer["and mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification"]
                @Localizer["Number and the Year/Sequence Number on the check."]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Statement of Prior Year Taxes"]</strong> - @Localizer["The Statement of Prior Year Taxes is an accounting of"]
            @Localizer["all charges and penalties for defaulted taxes incurred to date.  The statement itemizes the year(s) of defaulted"]
            @Localizer["taxes, a 10 percent penalty and $10 cost for each year of default, a 1.5 percent redemption penalty per month on"]
            @Localizer["the total unpaid tax amount due, and a $15 redemption fee."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification"]
            @Localizer["Number – (1234-567-890).  The Assessor’s Identification Number (AIN) is a ten-digit number assigned by the Office"]
            @Localizer["of the Assessor to each piece of real property in Los Angeles County.  This ten-digit AIN is made up of a four-digit"]
            @Localizer["Map Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["PIN"]</strong> - @Localizer["The PIN number is used to make electronic check payment to protect your security and"]
            @Localizer["privacy and is used to pay your current year and defaulted taxes online.  Effective with tax bills issued after August 2013,"]
            @Localizer["the PIN may contain all alpha, all numeric, or alpha/numeric characters.  The alpha letter 'O' is not used in the PIN."]
            @Localizer["The '0' is always a number zero."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p>
            <strong>@Localizer["Special Information"]</strong> - @Localizer["This section provides important information about the bill"]
            @Localizer["and states whether there are any delinquent taxes owed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office"]
            @Localizer["of the Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>@Localizer["Property Location and/or Property Description"]</strong> - @Localizer["The property address and/or legal"]
            @Localizer["description on record with the Office of the Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Breakdown of Delinquent Taxes Owed"]</strong> - @Localizer["This section lists the Assessor’s Identification"]
            @Localizer["Number and the Year and Sequence Number by the year the property first defaulted.  Current year taxes are rolled"]
            @Localizer["or drawn off to the delinquent tax roll if they remain unpaid as of June 30 of each fiscal year (July 1 to June 30)."]
            @Localizer["D/O represents the drawn off date.  Taxes that are delinquent for five years become subject to the Tax Collector’s"]
            @Localizer["power to sell, and the property may be sold at a public auction."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Taxes Due"]</strong> – @Localizer["This is the total amount due for the bill.  The Annual Secured Property"]
            @Localizer["Tax Bill has two payment stubs.  The first installment is due November 1 and is delinquent December 10.  If the"]
            @Localizer["first installment is not received or United States Postal Service (USPS) postmarked by December 10, a 10% penalty"]
            @Localizer["will apply.  The second installment is due February 1 and is delinquent April 10.  If the second installment is"]
            @Localizer["not received or USPS postmarked on or before April 10, a 10 percent penalty and a $10.00 cost will be imposed."]
            @Localizer["Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's Identification"]
            @Localizer["Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p><strong>@Localizer["Redemption Fee"]</strong> - @Localizer["A $15.00 fee is charged whenever a bill remains unpaid as of June 30."]</p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p><strong>@Localizer["Amount to Pay"]</strong> - @Localizer["The amount due, if paid by date, indicated on the statement."]</p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p>
            <strong>@Localizer["Additional Penalty Amount"]</strong> - @Localizer["The amount of penalty that is added monthly to the"]
            @Localizer["amount due if payment is not received by the date of the statement."]
        </p>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p><strong>@Localizer["Regular Payments"]</strong> - @Localizer["This section shows any payments that have been received and posted."]</p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p>
            <strong>@Localizer["Additional Fees"]</strong> - @Localizer["Any fees that must be collected because the property has been"]
            @Localizer["deemed \"subject to the Tax Collector’s power to sell.\""]
        </p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p><strong>@Localizer["Returned Check Charge"]</strong> - @Localizer["There is a $50.00 charge for any check returned by the bank."]</p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>@Localizer["Must be Received by"]</strong> - @Localizer["Payment must be received by the date indicated on the statement."]
            @Localizer["The postmark date for prior year taxes is not sufficient to stop accruing penalties."]
        </p>
    </div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p>
            <strong>@Localizer["Make Checks Payable"]</strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector"]
            @Localizer["and mail to this address.  Include the payment stub(s) with the payment and write the Assessor’s Identification"]
            @Localizer["Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>




