@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Substitute Secured Property Tax Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["Substitute Secured Property Tax Bill"]</h2>
</section>


<section class="tax-content container my-4">

    <img class="" src="~/images/Tax-Bills/SubstitueSecuredProperty.gif" alt="Substitute Secured Property Tax Bill" usemap="#SubstituteSecuredBill_Map">
    <map name="SubstituteSecuredBill_Map">
        <area shape="CIRCLE" coords="449,999,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(21)" />
        <area shape="CIRCLE" coords="290,1032,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(20)" />
        <area shape="CIRCLE" coords="554,935,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(19)" />
        <area shape="CIRCLE" coords="400,925,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(18)" />
        <area shape="CIRCLE" coords="436,690,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(17)" />
        <area shape="CIRCLE" coords="292,732,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(16)" />
        <area shape="CIRCLE" coords="531,625,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(15)" />
        <area shape="CIRCLE" coords="414,612,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(14)" />
        <area shape="CIRCLE" coords="479,501,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(13)" />
        <area shape="CIRCLE" coords="411,467,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(12)" />
        <area shape="CIRCLE" coords="482,403,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)" />
        <area shape="CIRCLE" coords="377,409,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)" />
        <area shape="CIRCLE" coords="220,409,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)" />
        <area shape="CIRCLE" coords="770,389,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)" />
        <area shape="CIRCLE" coords="729,259,14" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)" />
        <area shape="CIRCLE" coords="60,247,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)" />
        <area shape="CIRCLE" coords="621,202,14" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)" />
        <area shape="CIRCLE" coords="317,188,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)" />
        <area shape="CIRCLE" coords="708,146,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)" />
        <area shape="CIRCLE" coords="232,155,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)" />
        <area shape="CIRCLE" coords="145,57,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)" />
    </map>
    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Substitute Secured Property Tax Bill"]</strong> - @Localizer["The Substitute Secured Property Tax Bill is in lieu of the Annual Secured or Supplemental Property Tax Bills. The bill"]
                @Localizer["can be used to remit payment or serve as a record of payment activity as of the date the bill was printed."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Assessor Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s Identification Number (AIN) is a "]
                @Localizer["ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County. This ten-digit AIN is made up of a four-digit Map "]
                @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit card/Visa Debit card payments over the telephone. To initiate a credit "]
                @Localizer["card/Visa Debit card payment, please call 1(888) 473-0835. However, there are processing fees when paying by credit card/Visa Debit card. Each transaction is "]
                @Localizer["limited to $99,999.99."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor"]</p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Property Location and/or Property Description"] </strong> - @Localizer["The property address and/or legal description on record with the Office of the Assessor."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s Identification Number (AIN) is "]
                @Localizer["a ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County. This ten-digit AIN is made up of a four-digit Map "]
                @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Total Tax Due"]</strong> - @Localizer["This is the total amount due for the bill. The Annual Secured Property Tax Bill has two payment stubs. The first installment is due November 1 "]
                @Localizer["and is delinquent December 10. If the first installment is not received or United States Postal Service (USPS) postmarked by December 10, a penalty will apply. "]
                @Localizer["The second installment is due February 1 and is delinquent April 10. If the second installment is not received or USPS postmarked on or before April 10, a 10 "]
                @Localizer["percent penalty and a $10.00 cost will be imposed. Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's "]
                @Localizer["Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Returned Check Charge"]</strong> – @Localizer["There is a $50.00 charge for any check returned by the bank."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p><strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["This is the Assessor’s valuation of the property prior to the recent transfer/new construction date."]</p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p><strong>@Localizer["Taxable Value"]</strong> - @Localizer["The current assessed value less the prior assessed value, if any."]</p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer["The difference between the current value and exemptions."]</p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p>
                <strong>@Localizer["2nd Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in installments, the second installment must be received or United States Postal Service postmarked by "]
                @Localizer["this date, or a 10 percent penalty and a $10.00 cost will be imposed. "]
            </p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment. Taxpayers must be sure to include the payment stub with any type of payment and write "]
                @Localizer["their Assessor’s Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>16</div>
            <p>
                <strong>
                    @Localizer["Remit Amount"]
                </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment and write the "]
                @Localizer["Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>17</div>
            <p>
                <strong>
                    @Localizer["Make Checks Payable"]
                </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s) with the payment "]
                @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>18</div>
            <p>
                <strong>
                    @Localizer["1st Installment Delinquency Date"]
                </strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by this date. If "]
                @Localizer["paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
            </p>
        </div>
        <div class="bill-step">
            <div>19</div>
            <p>
                <strong>
                    @Localizer["1st Installment Due"]
                </strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment and write "]
                @Localizer["their Assessor’s Identification Number with the Year/Sequence Number on their check."]
            </p>
        </div>
        <div class="bill-step">
            <div>20</div>
            <p>
                <strong>
                    @Localizer["Remit Amount"]
                </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment and write the "]
                @Localizer["Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>
        <div class="bill-step">
            <div>21</div>
            <p>
                <strong>
                    @Localizer["Make Checks Payable"]
                </strong> - @Localizer[" Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s) with the payment "]
                @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
            </p>
        </div>

    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Substitute Secured Property Tax Bill"]</strong> - @Localizer["The Substitute Secured Property Tax Bill is in lieu of the Annual Secured or Supplemental Property Tax Bills. The bill"]
            @Localizer["can be used to remit payment or serve as a record of payment activity as of the date the bill was printed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s Identification Number (AIN) is a "]
            @Localizer["ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County. This ten-digit AIN is made up of a four-digit Map "]
            @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["Electronic Fund Transfer (EFT) Number"]</strong> - @Localizer["The EFT number is used to make credit card/Visa Debit card payments over the telephone. To initiate a credit "]
            @Localizer["card/Visa Debit card payment, please call 1(888) 473-0835. However, there are processing fees when paying by credit card/Visa Debit card. Each transaction is "]
            @Localizer["limited to $99,999.99."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p><strong>@Localizer["Assessee"]</strong> - @Localizer["The owner of record and the mailing address on file with the Office of the Assessor"]</p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Property Location and/or Property Description"] </strong> - @Localizer["The property address and/or legal description on record with the Office of the Assessor."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessor's Identification Number"]</strong> - @Localizer["This area identifies the Assessor’s Identification Number – (1234-567-890). The Assessor’s Identification Number (AIN) is "]
            @Localizer["a ten-digit number assigned by the Office of the Assessor to each piece of real property in Los Angeles County. This ten-digit AIN is made up of a four-digit Map "]
            @Localizer["Book Number (1234), a three-digit Page Number (567), and a three-digit Parcel Number (890)."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Tax Due"]</strong> - @Localizer["This is the total amount due for the bill. The Annual Secured Property Tax Bill has two payment stubs. The first installment is due November 1 "]
            @Localizer["and is delinquent December 10. If the first installment is not received or United States Postal Service (USPS) postmarked by December 10, a penalty will apply. "]
            @Localizer["The second installment is due February 1 and is delinquent April 10. If the second installment is not received or USPS postmarked on or before April 10, a 10 "]
            @Localizer["percent penalty and a $10.00 cost will be imposed. Taxpayers must be sure to include the payment stub with any type of payment and write their Assessor's "]
            @Localizer["Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Returned Check Charge"]</strong> – @Localizer["There is a $50.00 charge for any check returned by the bank."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>@Localizer["Current Assessed Value"]</strong> - @Localizer["The Assessor’s valuation of the property after the adjustment."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p><strong>@Localizer["Prior Assessed Value"]</strong> - @Localizer["This is the Assessor’s valuation of the property prior to the recent transfer/new construction date."]</p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p><strong>@Localizer["Taxable Value"]</strong> - @Localizer["The current assessed value less the prior assessed value, if any."]</p>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p><strong>@Localizer["Less Exemptions"]</strong> - @Localizer["Exemptions, if any, are deducted from the assessed value."]</p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p><strong>@Localizer["Net Taxable Value"]</strong> - @Localizer["The difference between the current value and exemptions."]</p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Installment Delinquency Date"]</strong> - @Localizer["If paying the bill in installments, the second installment must be received or United States Postal Service postmarked by "]
            @Localizer["this date, or a 10 percent penalty and a $10.00 cost will be imposed. "]
        </p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>@Localizer["2nd Installment Due"]</strong> - @Localizer["Amount of taxes due for the second installment. Taxpayers must be sure to include the payment stub with any type of payment and write "]
            @Localizer["their Assessor’s Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div16">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Remit Amount"]
            </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment and write the "]
            @Localizer["Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div17">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Make Checks Payable"]
            </strong> - @Localizer["Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s) with the payment "]
            @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div18">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["1st Installment Delinquency Date"]
            </strong> - @Localizer["If paying the bill in full, payment must be received or United States Postal Service (USPS) postmarked by this date. If "]
            @Localizer["paying in installments, the first installment must be received or USPS postmarked by this date, or a 10 percent penalty will be imposed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div19">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["1st Installment Due"]
            </strong> - @Localizer["Amount of taxes due for the first installment. Taxpayers must be sure to include the payment stub with any type of payment and write "]
            @Localizer["their Assessor’s Identification Number with the Year/Sequence Number on their check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div20">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Remit Amount"]
            </strong> - @Localizer["If payment is not made by the delinquency date, remit the amount stated here. Include the payment stub(s) with the payment and write the "]
            @Localizer["Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div21">
    <div class="float-content">
        <p>
            <strong>
                @Localizer["Make Checks Payable"]
            </strong> - @Localizer[" Make checks payable to the Los Angeles County Tax Collector and mail to this address. Include the payment stub(s) with the payment "]
            @Localizer["and write the Assessor’s Identification Number and the Year/Sequence Number on the check."]
        </p>
    </div>
</div>


