@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Unsecured Prior Year Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer["Unsecured Prior Year Bill"]</h2>
</section>

<section class="tax-content container my-4">

    <img src="~/images/Tax-Bills/unsecuredprioryearbill.gif" usemap="#UnsecuredPriorYr_Map">
    <map name="UnsecuredPriorYr_Map">
        <area shape="circle" coords="119,1104,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(11)">
        <area shape="circle" coords="719,984,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(10)">
        <area shape="circle" coords="555,957,13" href="javascript:void(0)" alt="circle" onclick="displayDescription(9)">
        <area shape="circle" coords="98,610,12" href="javascript:void(0)" alt="circle" onclick="displayDescription(8)">
        <area shape="circle" coords="614,564,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(7)">
        <area shape="circle" coords="474,566,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(6)">
        <area shape="circle" coords="161,575,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(5)">
        <area shape="circle" coords="131,479,11" href="javascript:void(0)" alt="circle" onclick="displayDescription(4)">
        <area shape="circle" coords="69,406,8" href="javascript:void(0)" alt="circle" onclick="displayDescription(3)">
        <area shape="circle" coords="717,327,10" href="javascript:void(0)" alt="circle" onclick="displayDescription(2)">
        <area shape="circle" coords="231,327,10" href="javascript:void(0)" alt="circle" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Unsecured Property Tax Bil"]</strong> - @Localizer["Unsecured bills that were not paid by"]
                @Localizer["the original due date."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p><strong>@Localizer["Prior Year"]</strong> - @Localizer["The tax year the original bill was due."]</p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["Sale or Disposal"]</strong> - @Localizer["Sale or disposal of this property after January 1 does not"]
                @Localizer["relieve the assessee of this tax."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p>
                <strong>@Localizer["Assesse"]</strong> - @Localizer["The person or entity that is responsible"]
                @Localizer["for this bill."]
            </p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Assessment Number"]</strong> - @Localizer["A number that the Assessor's"]
                @Localizer["office uses to link to a specific assessment."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>@Localizer["Bill Number"]</strong> - @Localizer["The bill number for this year's bill."]
                @Localizer["Please be careful as this number changes every year. When referencing it always"]
                @Localizer["include the year; for example, 2015 1234567."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Assessed Values"]</strong> – @Localizer["Values are determined by the"]
                @Localizer["Assessor's office. Please call the number listed here for any question"]
               @Localizer["pertaining to the assessed value of the unsecured property."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Property Description"]</strong> - @Localizer["Important information pertaining to the"]
                @Localizer["original billing is listed here."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>@Localizer["Total Tax"]</strong> - @Localizer["The total amount of tax due by the date"]
                @Localizer["stated.  Penalties will continue to accrue at the rate of 1.5% per month on the base tax"]
                @Localizer["until the bill is paid in full.  Please include your payment stub with any payment and write"]
                @Localizer["the tax year and bill number on your check.  The payment stub is located on the top portion"]
                @Localizer["of the bill."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p>
                <strong>@Localizer["If not paid by this date"]</strong> - @Localizer["The last date that"]
                @Localizer["payment will be accepted without additional penalty.  Payments postmarked or received"]
                @Localizer["after this date are subject to an additional 1.5% penalty per month on the base tax.  There"]
                @Localizer["is a $33.00 service charge for any check returned by the bank."]
            </p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p>
                <strong>@Localizer["Payment by Check"]</strong> - @Localizer["Make check payable to the Los Angeles County Tax"]
                @Localizer["Collector and mail to the address shown in the statement.  Your payment stub is located on the top"]
                @Localizer["portion of your bill.  Please include this stub with any payment and write the tax year and bill number"]
                @Localizer["on your check."]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Unsecured Property Tax Bil"]</strong> - @Localizer["Unsecured bills that were not paid by"]
            @Localizer["the original due date."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p><strong>@Localizer["Prior Year"]</strong> - @Localizer["The tax year the original bill was due."]</p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["Sale or Disposal"]</strong> - @Localizer["Sale or disposal of this property after January 1 does not"]
            @Localizer["relieve the assessee of this tax."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assesse"]</strong> - @Localizer["The person or entity that is responsible"]
            @Localizer["for this bill."]
        </p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessment Number"]</strong> - @Localizer["A number that the Assessor's"]
            @Localizer["office uses to link to a specific assessment."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>@Localizer["Bill Number"]</strong> - @Localizer["The bill number for this year's bill."]
            @Localizer["Please be careful as this number changes every year. When referencing it always"]
            @Localizer["include the year; for example, 2015 1234567."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessed Values"]</strong> – @Localizer["Values are determined by the"]
            @Localizer["Assessor's office. Please call the number listed here for any question"]
            @Localizer["pertaining to the assessed value of the unsecured property."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Property Description"]</strong> - @Localizer["Important information pertaining to the"]
            @Localizer["original billing is listed here."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Tax"]</strong> - @Localizer["The total amount of tax due by the date"]
            @Localizer["stated.  Penalties will continue to accrue at the rate of 1.5% per month on the base tax"]
            @Localizer["until the bill is paid in full.  Please include your payment stub with any payment and write"]
            @Localizer["the tax year and bill number on your check.  The payment stub is located on the top portion"]
            @Localizer["of the bill."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p>
            <strong>@Localizer["If not paid by this date"]</strong> - @Localizer["The last date that"]
            @Localizer["payment will be accepted without additional penalty.  Payments postmarked or received"]
            @Localizer["after this date are subject to an additional 1.5% penalty per month on the base tax.  There"]
            @Localizer["is a $33.00 service charge for any check returned by the bank."]
        </p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p>
            <strong>@Localizer["Payment by Check"]</strong> - @Localizer["Make check payable to the Los Angeles County Tax"]
            @Localizer["Collector and mail to the address shown in the statement.  Your payment stub is located on the top"]
            @Localizer["portion of your bill.  Please include this stub with any payment and write the tax year and bill number"]
            @Localizer["on your check."]
        </p>
    </div>
</div>
