@using Microsoft.AspNetCore.Mvc.Localization


@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Unsecured Property Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container-fluid bg-header bg-bills">
    <h2 class="display-4">@Localizer[ViewBag.Title]</h2>
</section>

<section class="tax-content container my-4">

    <img src="~/images/Tax-Bills/unsecuredbill.gif" usemap="#UnsecuredBill_Map">
    <map name="UnsecuredBill_Map">
        <area shape="circle" coords="651,980,10" href="javascript:void(0)" onclick="displayDescription(15)">
        <area shape="circle" coords="345,845,11" href="javascript:void(0)" onclick="displayDescription(14)">
        <area shape="circle" coords="45,857,11" href="javascript:void(0)" onclick="displayDescription(13)">
        <area shape="circle" coords="664,682,11" href="javascript:void(0)" onclick="displayDescription(12)">
        <area shape="circle" coords="142,791,8" href="javascript:void(0)" onclick="displayDescription(11)">
        <area shape="circle" coords="460,656,9" href="javascript:void(0)" onclick="displayDescription(10)">
        <area shape="circle" coords="364,462,8" href="javascript:void(0)" onclick="displayDescription(9)">
        <area shape="circle" coords="583,363,8" href="javascript:void(0)" onclick="displayDescription(8)">
        <area shape="circle" coords="711,299,10" href="javascript:void(0)" onclick="displayDescription(7)">
        <area shape="circle" coords="41,312,7" href="javascript:void(0)" onclick="displayDescription(6)">
        <area shape="circle" coords="546,221,10" href="javascript:void(0)" onclick="displayDescription(5)">
        <area shape="circle" coords="522,177,8" href="javascript:void(0)" onclick="displayDescription(4)">
        <area shape="circle" coords="95,196,9" href="javascript:void(0)" onclick="displayDescription(3)">
        <area shape="circle" coords="91,132,10" href="javascript:void(0)" onclick="displayDescription(2)">
        <area shape="circle" coords="263,46,10" href="javascript:void(0)" onclick="displayDescription(1)">
    </map>

    <div class=" text-left">
        <div class="bill-step">
            <div>1</div>
            <p>
                <strong>@Localizer["Unsecured Property Tax Bill"]</strong> - @Localizer["Unsecured bills are"]
                @Localizer["mailed out every year no later than July 31st and are due no later"]
                @Localizer["than August 31st. Corrected bills are also mailed out using this"]
                @Localizer["same form so make sure to check your due dates."]
            </p>
        </div>
        <div class="bill-step">
            <div>2</div>
            <p>
                <strong>@Localizer["Sale or Disposal"]</strong> - @Localizer["Sale or disposal of this property"]
                @Localizer["after January 1 does not relieve the assessee of this tax."]
            </p>
        </div>
        <div class="bill-step">
            <div>3</div>
            <p>
                <strong>@Localizer["Assessee"]</strong> - @Localizer["The person or entity that is responsible"]
                @Localizer["for this bill."]
            </p>
        </div>
        <div class="bill-step">
            <div>4</div>
            <p>
                <strong>@Localizer["Bill Number"]</strong> - @Localizer["The bill number for this year's bill."]
                @Localizer["Please be careful as this number changes every year. When referencing it always"]
                @Localizer["include the year; for example, 2016 12345678."]
            </p>
        </div>
        <div class="bill-step">
            <div>5</div>
            <p>
                <strong>@Localizer["Situs or Location"]</strong> - @Localizer["The location of the property "]
                @Localizer["being assessed."]
            </p>
        </div>
        <div class="bill-step">
            <div>6</div>
            <p>
                <strong>@Localizer["Assessment Number"]</strong> - @Localizer["A number that the Assessor's"]
                @Localizer["office uses to link to a specific assessment."]
            </p>
        </div>
        <div class="bill-step">
            <div>7</div>
            <p>
                <strong>@Localizer["Assessed Values"]</strong> - @Localizer["Values are determined by the"]
                @Localizer["Assessor's office. Please call the number listed here for any question"]
                @Localizer["pertaining to the assessed value of the unsecured property."]
            </p>
        </div>
        <div class="bill-step">
            <div>8</div>
            <p>
                <strong>@Localizer["Full Value"]</strong> – @Localizer["Value as of January 1st as"]
                @Localizer["determined by the Assessor's office."]
            </p>
        </div>
        <div class="bill-step">
            <div>9</div>
            <p>
                <strong>@Localizer["Voted Indebtedness"]</strong> - @Localizer["Voter-approved taxes levied"]
                @Localizer["against property."]
            </p>
        </div>
        <div class="bill-step">
            <div>10</div>
            <p>
                <strong>@Localizer["Total Tax"]</strong> - @Localizer["The total amount of tax due by the date"]
                @Localizer["stated. A 10% penalty and collection costs will accrue after the due date."]
                @Localizer["Please include your payment stub with any payment; write the tax year and bill"]
                @Localizer["number on your check."]
            </p>
        </div>
        <div class="bill-step">
            <div>11</div>
            <p>
                <strong>@Localizer["If not paid by the delinquent date"]</strong> - @Localizer["The last date"]
                @Localizer["that payment will be accepted without penalty. Payments postmarked or received"]
                @Localizer["after this date are subject to a 10% penalty and may be subject to additional"]
                @Localizer["collection costs of up to $49.00. Interest may also accrue at the rate"]
                @Localizer["of 1.5% on the base tax beginning on the second month after the due date. There"]
                @Localizer["is a $33.00 service charge for any check returned by the bank."]
            </p>
        </div>
        <div class="bill-step">
            <div>12</div>
            <p>
                <strong>@Localizer["10% Penalty After"]</strong> - @Localizer["The date by which payment must be"]
                @Localizer["postmarked or received. Please mail early to avoid penalties. Postage Meter"]
                @Localizer["Dates are not used to determine the postmark."]
            </p>
        </div>
        <div class="bill-step">
            <div>13</div>
            <p>
                <strong>@Localizer["Year and Bill Number"]</strong> - @Localizer["Please include this on any"]
                @Localizer["correspondence or payment. Be careful as bill numbers change every year."]
            </p>
        </div>
        <div class="bill-step">
            <div>14</div>
            <p><strong>@Localizer["Assessment Number"]</strong> - @Localizer["The number the Assessor uses to"]
                @Localizer["track assessed property."]
            </p>
        </div>
        <div class="bill-step">
            <div>15</div>
            <p>
                <strong>@Localizer["Payment by Check"]</strong> - @Localizer["Make check payable and mail to the"]
                @Localizer["address shown in the statement. Please include your payment stub with any"]
                @Localizer["payment and write the tax year and bill number on your check"]
            </p>
        </div>
    </div>
</section>

<div class="floatbox" id="div1">
    <div class="float-content">
        <p>
            <strong>@Localizer["Unsecured Property Tax Bill"]</strong> - @Localizer["Unsecured bills are"]
            @Localizer["mailed out every year no later than July 31st and are due no later"]
            @Localizer["than August 31st. Corrected bills are also mailed out using this"]
            @Localizer["same form so make sure to check your due dates."]
        </p>
    </div>
</div>
<div class="floatbox" id="div2">
    <div class="float-content">
        <p>
            <strong>@Localizer["Sale or Disposal"]</strong> - @Localizer["Sale or disposal of this property"]
            @Localizer["after January 1 does not relieve the assessee of this tax."]
        </p>
    </div>
</div>
<div class="floatbox" id="div3">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessee"]</strong> - @Localizer["The person or entity that is responsible"]
            @Localizer["for this bill."]
        </p>
    </div>
</div>
<div class="floatbox" id="div4">
    <div class="float-content">
        <p>
            <strong>@Localizer["Bill Number"]</strong> - @Localizer["The bill number for this year's bill."]
            @Localizer["Please be careful as this number changes every year. When referencing it always"]
            @Localizer["include the year; for example, 2016 12345678."]
        </p>
    </div>
</div>
<div class="floatbox" id="div5">
    <div class="float-content">
        <p>
            <strong>@Localizer["Situs or Location"]</strong> - @Localizer["The location of the property "]
            @Localizer["being assessed."]
        </p>
    </div>
</div>
<div class="floatbox" id="div6">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessment Number"]</strong> - @Localizer["A number that the Assessor's"]
            @Localizer["office uses to link to a specific assessment."]
        </p>
    </div>
</div>
<div class="floatbox" id="div7">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessed Values"]</strong> - @Localizer["Values are determined by the"]
            @Localizer["Assessor's office. Please call the number listed here for any question"]
            @Localizer["pertaining to the assessed value of the unsecured property."]
        </p>
    </div>
</div>
<div class="floatbox" id="div8">
    <div class="float-content">
        <p>
            <strong>@Localizer["Full Value"]</strong> – @Localizer["Value as of January 1st as"]
            @Localizer["determined by the Assessor's office."]
        </p>
    </div>
</div>
<div class="floatbox" id="div9">
    <div class="float-content">
        <p>
            <strong>@Localizer["Voted Indebtedness"]</strong> - @Localizer["Voter-approved taxes levied"]
            @Localizer["against property."]
        </p>
    </div>
</div>
<div class="floatbox" id="div10">
    <div class="float-content">
        <p>
            <strong>@Localizer["Total Tax"]</strong> - @Localizer["The total amount of tax due by the date"]
            @Localizer["stated. A 10% penalty and collection costs will accrue after the due date."]
            @Localizer["Please include your payment stub with any payment; write the tax year and bill"]
            @Localizer["number on your check."]
        </p>
    </div>
</div>
<div class="floatbox" id="div11">
    <div class="float-content">
        <p>
            <strong>@Localizer["If not paid by the delinquent date"]</strong> - @Localizer["The last date"]
            @Localizer["that payment will be accepted without penalty. Payments postmarked or received"]
            @Localizer["after this date are subject to a 10% penalty and may be subject to additional"]
            @Localizer["collection costs of up to $49.00. Interest may also accrue at the rate"]
            @Localizer["of 1.5% on the base tax beginning on the second month after the due date. There"]
            @Localizer["is a $33.00 service charge for any check returned by the bank."]
        </p>
    </div>
</div>
<div class="floatbox" id="div12">
    <div class="float-content">
        <p>
            <strong>@Localizer["10% Penalty After"]</strong> - @Localizer["The date by which payment must be"]
            @Localizer["postmarked or received. Please mail early to avoid penalties. Postage Meter"]
            @Localizer["Dates are not used to determine the postmark."]
        </p>
    </div>
</div>
<div class="floatbox" id="div13">
    <div class="float-content">
        <p>
            <strong>@Localizer["Year and Bill Number"]</strong> - @Localizer["Please include this on any"]
            @Localizer["correspondence or payment. Be careful as bill numbers change every year."]
        </p>
    </div>
</div>
<div class="floatbox" id="div14">
    <div class="float-content">
        <p>
            <strong>@Localizer["Assessment Number"]</strong> - @Localizer["The number the Assessor uses to"]
            @Localizer["track assessed property."]
        </p>
    </div>
</div>
<div class="floatbox" id="div15">
    <div class="float-content">
        <p>
            <strong>@Localizer["Payment by Check"]</strong> - @Localizer["Make check payable and mail to the"]
            @Localizer["address shown in the statement. Please include your payment stub with any"]
            @Localizer["payment and write the tax year and bill number on your check"]
        </p>
    </div>
</div>
